.backup-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}

	.field {
		margin-bottom: 21px;

		&>label {
			min-height: 18px;
		}
	}

	textarea {
		min-height: 140px;
	}

	.copy-btn {
		i {
			font-size: 16px;
		}
	}

	.form-panel {
		margin: 30px 0 0;
		justify-content: space-between;

		.main-btn {
			margin-left: auto;
			min-width: 160px;
		}
	}
}