.confirm-editing-of-permissions-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}


	.info-text {
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		color: rgba(#3B3B3B, .8);
		text-align: center;
		padding: 0 15px;
		margin-top: 4px;
	}

	.form-panel {
		margin: 27px 0 0;
		justify-content: center;

		.main-btn {
			&:not(:last-child) {
				margin-right: 20px;
			}

			min-width: 160px;
		}
	}
}