.confirm-editing-of-permissions-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}


	.info-text {
		@include info-text();
		padding: 0 15px;
		margin-top: 4px;
	}

	.form-panel {
		margin: 27px 0 0;
		justify-content: center;

		.main-btn {
			&:not(:last-child) {
				margin-right: 20px;
			}

			min-width: 160px;
		}
	}
}