.create-address-modal {
	max-width: 600px;
	flex-direction: column;
	padding: 31px 0 47px;
	
	.modal-header {
		display: flex;
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
		min-height: 34px;
		position: relative;
	}

	.modal-header-title {
		color: #3B3B3B;
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}

	.modal-body {
		max-width: 500px;
		margin: 0 auto;
	}

	.info-text {
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		color: rgba(#3B3B3B, .8);
		text-align: center;
		margin-top: 6px;
	}

	.check-list {
		margin: 26px 14px 0;
		.label {
			font-family: proxima;
			font-weight: 600;
		}
	}

	.field {
		margin: 20px 0;
		& > label {
			min-height: 18px;
		}
	}

	.form-panel {
		margin: 20px 0 0;
		justify-content: flex-end;
		.main-btn {
			min-width: 160px;
		}
	}
}