.create-address-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}

	.info-text {
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		color: rgba(#3B3B3B, .8);
		text-align: center;
		margin-top: 6px;
		padding: 0 26px;
	}

	.check-list {
		margin: 26px 14px 0;

		.label {
			font-family: proxima;
			font-weight: 600;
		}
	}

	.field {
		margin: 20px 0;

		&>label {
			min-height: 18px;
		}
	}

	.form-panel {
		margin: 30px 0 0;
		justify-content: flex-end;

		.main-btn {
			min-width: 160px;
		}
	}
}