.edit-permissions-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}

	.info-text {
		@include info-text();
		padding: 0 10px;
		margin-top: 6px;
	}

	.check-list {
		margin: 26px 14px 0;

		.label {
			font-family: proxima;
			font-weight: 600;
		}
	}

	.form .field {
		margin-top: 35px;

		&>label {
			min-height: 18px;
		}
	}

	.form-panel {
		justify-content: space-between;

		.main-btn {
			min-width: 160px;
		}
	}
}