.modal-info {
	min-height: 200px;
	padding: 20px 0 26px;
	max-width: 600px;

	.modal-header {
		margin: 0;
		margin-top: 21px;
		text-align: center;
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		margin: 33px 61px 0;
	}

	.info-row {
		display: flex;
		font-size: 14px;
		margin-bottom: 17px;

		.info-title {
			font-family: proxima;
			font-weight: 600;
			min-width: 140px;
			color: rgba(#5D637B, .5);
		}

		.info-value {
			color: #3B3B3B;
			font-family: proxima;
			font-weight: 600;

			a {
				color: #4D66CD;
			}

			.icon-commit {
				font-size: 12px;
				margin-right: 5px;
			}
		}

		&:nth-child(1) {
			.info-value a {
				margin-left: 13px;
			}
		}
	}
}