.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 250px;
	width: 100%;
	padding: 50px 20px;
	position: relative;
}

.modal {
	.icon-close {
		width: 35px;
		height: 35px;
		position: absolute;
		right: 8px;
		top: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #c4c5ca;
		transition: color .3s;

		&:hover {
			color: #6d7178;
		}
	}

	.main-form {
		padding: 0;

		@media only screen and (max-height: 800px) {
			padding: 0;
		}

		@media only screen and (min-height: 800px) {
			padding: 0;
		}
	}

	.form-panel {
		display: flex;
		align-items: center;
		justify-content: center;

		.button {
			margin: 0;
		}

	}

	.form.main-form {
		padding: 0;
	}

	&.choose-account {
		width: 600px;

		padding-top: 35px;
		background-color: transparent;

		.modal-content {
			transform: translateY(-35px);
			background: #FFFFFF;
			padding: 33px 20px 45px 20px;

			.form-info {
				margin-bottom: 23px;
			}
		}
	}

	.accounts-list {
		width: 500px;
		border: 1px solid #babccb;
		border-radius: 4px;
		margin-bottom: 5px;
	}

	.accounts-list-header {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 24px;
		border-bottom: 1px solid #f1f1f1;
		height: 37px;

		.check-container {
			display: flex;
			align-items: center;

			.txt {
				font-weight: 600;
				color: rgba(92, 99, 125, 0.5);
				font-size: 12px;
			}

			.check {
				.label:before {
					width: 24px;
					height: 24px;
				}

				.label-text {
					font-weight: 600;
					color: rgba(92, 99, 125, 0.5);
					font-size: 12px;
				}
			}
		}
	}

	.accounts-list-list {
		padding-left: 15px;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 30px;
		max-height: 255px;
		overflow: auto;


		.line {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			.label:before {
				margin-right: 11px;
			}

			.label-text {
				font-size: 15px;
				max-width: 250px;
				@include cut-text();
			}

			.value {
				font-size: 15px;
				font-weight: 600;
				color: #5c637d;
			}
		}
	}
}

.modals {
	&.dimmer {
		background-color: rgba(#cacccf, .9);
	}
}

.modal.small {
	max-width: 600px;

	.modal-content {
		min-height: 240px;
		padding: 42px 0 30px;
		max-width: 600px;
		margin: auto;

		.form-info+.field-wrap {
			margin-top: 11px;
		}

		.field>label {
			min-height: 16px;
		}
	}
}

// style for info modal window
.modal.small .modal-content.info {
	min-height: 200px;
	padding: 20px 0 26px;

	.modal-header {
		margin: 0;
		margin-top: 21px;
		font-size: 20px;
		text-align: center;
		font-weight: 600;
	}

	.modal-body {
		margin: 33px 61px 0;

		.info-row {
			display: flex;
			font-size: 14px;
			margin-bottom: 17px;

			.info-title {
				font-family: proxima;
				font-weight: 600;
				min-width: 140px;
				color: #5D637B;
				opacity: 0.5;
			}

			.info-value {
				color: #3B3B3B;
				font-family: proxima;
				font-weight: 600;

				a {
					color: #4D66CD;
				}

				.icon-commit {
					font-size: 12px;
					margin-right: 5px;
				}
			}

			&:nth-child(1) {
				.info-value a {
					margin-left: 13px;
				}
			}
		}
	}
}

.modal.small .modal-content.add-key {
	min-height: 230px;
	padding: 38px 0 0;
	justify-content: flex-start;

	.modal-header {
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
	}

	.modal-body {
		margin: 18px 55px 0px;
	}

	.info-text {
		@include info-text();
	}

	.form-panel {
		justify-content: center;
		margin: 27px 0px 40px;

		.button {
			min-width: 160px;
			min-height: 38px;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}


.modal-wrap {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}

	.info-text {
		@include info-text();
	}

	.form-panel {
		margin: 30px 0 0;

		button:only-child {
			margin: 0 0 0 auto;
		}
	}
}