.replenish-modal {
	@include modal-wrap();

	.modal-header {
		@include modal-header();
		text-align: center;
	}

	.modal-header-title {
		@include modal-header-title();
	}

	.modal-body {
		@include modal-body();
	}

	.field {
		&>label {
			min-height: 18px;
		}
	}

	.form-panel {
		margin: 30px 0 0;

		.main-btn {
			min-width: 120px;
			width: 120px;
		}
	}
}