.wipe-data {
	.main-form {
		max-width: 468px;
		margin: auto;
	}

	.form-info {
		margin-bottom: 18px;
	}

	.form-info-description {
		font-size: 15px;
		font-family: proxima;
		font-weight: 400;
		line-height: 1.467;
		color: rgba(59, 59, 59, 0.8);
		line-height: 1.429;
		text-align: center;
		margin: 0 auto 42px;
	}

	.check-list {
		margin: auto;
	}

	.form-panel {
		justify-content: flex-end;
		margin: 30px 0 0;
	}
}