.wipe-data {

	.form-info-description {
		font-size: 15px;
		font-family: proxima;
		font-weight: 400;
		line-height: 1.467;
		color: rgba(59, 59, 59, 0.8);
		line-height: 1.429;
		text-align: center;
		margin: 0 auto 42px;
	}

	.check-list {
		margin: auto;
	}

	.form-panel {
		.main-btn {
			min-width: 160px;
		}
	}
}