* {
    &:focus {
        outline: none;
    }
}

* {
    box-sizing: border-box;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

div,
span {
    &:focus {
        outline: none;
    }
}

.app-nav {
    position: absolute;
    z-index: 9999999;
    right: 0px;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: $main-сolor;
    width: 150px;

    button {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-family: 'icomoon';
        src: url('../fonts/iconmoon/icomoon.eot?h46e29');
        src: url('../fonts/iconmoon/icomoon.eot?h46e29#iefix') format('embedded-opentype'),
            url('../fonts/iconmoon/icomoon.ttf?h46e29') format('truetype'),
            url('../fonts/iconmoon/icomoon.woff?h46e29') format('woff'),
            url('../fonts/iconmoon/icomoon.svg?h46e29#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-size: .85em;
        height: 30px;
        width: 50px;
        transition: background-color $speed;

        &:hover {
            background-color: #4258b5;
        }

        &.global-min {
            &:before {
                content: '\e913';
            }
        }

        &.global-max {
            font-size: 10px;
            width: 40px;

            &:before {
                content: '\e926';
            }
        }

        &.global-close {
            &:before {
                content: '\e911';
            }
        }
    }
}

.mobile body {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tablet body {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ios input,
.ios textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.global-wrapper {
    padding-top: 30px;
}

.wrapper {
    display: flex;
    min-height: calc(100vh - 30px);
    flex-direction: column;
}

.content {
    flex: 1;

    &.center-mode {
        display: flex;
        justify-content: center;
        max-height: calc(100vh - 120px);
        overflow: auto;
        overflow-y: overlay;

        div {
            width: 100%;
        }
    }
}

.link {
    color: $main-сolor;
    transition: color $speed;

    &:hover {
        color: $main-сolor;
    }

    &:focus {
        text-decoration: underline;
    }

    &.main-link {
        color: $main-сolor;
    }

    &.disabled {
        pointer-events: none;
    }
}

.external-link {
    color: #5267C6;
    font-size: 13px;
    display: flex;
    align-items: center;
    height: 14px;

    img {
        min-width: 14px;
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

    span {
        line-height: 0;
    }
}

// ANIMATIONS

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}