input,a,button {
    &:focus {
       outline:none;
    }
}
 
body,ul,li {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
}
li {
    list-style-type:none;
}

.mobile body{
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.tablet body{
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ios input,
.ios textarea{
	-webkit-appearance: none;
	border-radius: 0;
}
.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content {
	flex: 1;
	&.center-mode {
		display: flex;
		align-items: center;
		justify-content: center;
		div {
			width: 100%;
		}
	}
}

.link.orange {
	color: $orange;
}
