// Colors
// -------------------------
$main-—Åolor:            rgba(77, 102, 205, 1); // #4d66cd
$text-dark:             rgb(92, 99, 125); // #5c637d

$white:					#fff;
$black:					rgb(59, 59, 59);
$gray:					rgb(173, 177, 190); // #adb1be
$link-gray:             rgb(109, 113, 120); // #6d7178
$gray-dark:             rgb(125, 129, 138);
$bd-gray:               rgba(233, 233, 237, 1); // #e9e9ed
$bg-gray:               $bd-gray;
$bg-hover:              rgba(197, 201, 210, 0.2);
$yellow:                rgb(255, 249, 181); // #fff9b5
$green:                 rgb(122, 211, 141);
$blue:                  rgb(77, 161, 255);
$blue-light:            rgb(112, 165, 224);
$err-red:               rgb(255, 72, 72);

$inut-color:            rgb(221, 221, 221); // #dddddd
$inut-hover:            rgb(186, 188, 203); // #babccb

// labels
$lbl-yellow:            rgb(255, 175, 20);
$lbl-green:             rgb(48, 201, 152); // #30c998
$lbl-red:               rgb(255, 85, 96);
$lbl-blue:              rgb(79, 185, 224); // #4fb9e0

$speed: .3s;
$angulars: 0.28571429rem;

// tables 
$t-row-color:           #fbfbfb;