// Colors
// -------------------------
$white:					#fff;
$black:					rgb(59, 59, 59);
$gray:					rgb(174, 180, 192);
$gray-dark:             rgb(125, 129, 138);
$bd-gray:               rgb(186, 188, 203);
$orange:                rgb(255, 107, 72);
$green:                 rgb(122, 211, 141);
$blue:                  rgb(77, 161, 255);
$err-red:               rgb(255, 72, 72);            

