.version-btn {
	font-family: proxima;
	background-color: transparent;
	padding: 0;
	padding-right: 5px;
	color: #4D66CD;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.3px;
	border: 0;
	cursor: pointer;
}