.accordion {
	&.fluid {
		width: 100%;
	}
}

.accordion-trigger {
	color: $main-color;
	position: relative;
	font-size: 15px;
	border-radius: 4px;
	margin: -1px 0 -3px -5px;
    padding: 1px 20px 3px 5px;
	
	.content {
		border-bottom: 1px dashed;
		pointer-events: none;
	}

	.icon.dropdown {
		position: absolute;
		right: 6px;
		top: 0;
		bottom: 0;
		pointer-events: none;
	}

	&:focus:not(:active) {
		@include on-focus(2px);
	}
}

.accordion-body {
	background-color: rgba(#DDDDDD, .2);
	padding: 15px 20px 22px;
	margin: 12px 0 -8px;
	.radio-list {
		display: flex;
		margin: 7px 0 0;
	}
	.radio:before {
		margin-right: 8px;
	}
	.radio:not(:last-child) {
		margin-right: 30px;
	}
}

.accordion-transition-enter,
.accordion-transition-appear {
	overflow: hidden;
	max-height: 0;
	margin: 0;
	padding: 0 20px;
	color: transparent;
	opacity: 0;
}

.accordion-transition-enter-active,
.accordion-transition-appear-active {
	overflow: hidden;
	max-height: 200px;
	opacity: 1;
	margin: 12px 0 -8px;
	padding: 15px 20px 22px;
	transition:
		padding $speed,
		margin $speed,
		max-height $speed,
		opacity $speed ease-in;
}

.accordion-transition-exit {
	overflow: hidden;
	max-height: 200px;
	margin: 12px 0 -8px;
	padding: 15px 20px 22px;
	opacity: 1;
}

.accordion-transition-exit-active {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	margin: 0;
	padding: 0 20px;
	transition:
		padding $speed,
		margin $speed,
		max-height $speed ease-out,
		opacity $speed;
}
