[class*="copy-label"] {
    color: #5C637D;
    background-color: #F5F5F6;
    padding: 5px 10px 6px;
    border-radius: 4px;
    max-height: 28px;
	
}

.popup {
	[class*="copy-label"] {
		margin: -1px 35px;
	}
}

.button {
	[class*="copy-label"] {
		left: 100%;
		margin: auto 10px;
		top: 0;
		bottom: 0;
		position: absolute;
	}
}

.copy-label-enter,
.copy-label-appear {
	opacity: 0;
}

.copy-label-enter-active,
.copy-label-appear-active {
	opacity: 1;
	transition: opacity $speed ease-in;
}

.copy-label-exit {
	opacity: 1;
	top: 0;
}

.copy-label-exit-active {
	top: -30px;
	opacity: 0;
	transition:	opacity $speed, top $speed;
}