.editor-label {
	@include label();
	margin-bottom: 4px;

}

.warning {}

.ace-warning {
	padding: 0;
}

.editor {
	border: 1px solid #DDDDDD;
	transition: border-color $speed;
	min-height: 400px;

	&:hover {
		border-color: $border-hover !important;
	}


	&.ace_focus {
		@include on-focus(4px);
	}

	&.ace_editor {
		font-family: source;
		overflow: unset !important;

	}


	.ace_gutter {
		background-color: rgba(#DDDDDD, 0.1);
		border-right: 1px solid #DDDDDD;
	}

	.ace_scrollbar-h {
		display: none;
	}

	.ace_tooltip {
		top: 100% !important;
		right: 0;
		left: 0 !important;
		position: absolute;
		display: block;
		pointer-events: unset;
		border: 0;
		border-radius: 0;
		border-top: 2px solid #FF4848;
		padding: 7px 16px;
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		background-color: #E9E9ED;
		font-family: proxima;
		box-shadow: 0 34px 28px rgba(255, 255, 255, 0.4);
		color: #3B3B3B;
		background-image: none;
		white-space: normal;
		animation: fadeIn $speed;
	}

	.ace_gutter-cell {
		padding: 0 10px 0 16px;
		text-align: center;
		line-height: 22px;
		color: rgba(#3B3B3B, 0.5);
		font-family: proxima;
		transition: color $speed, background-color $speed;
		font-size: 11px;

		&.ace_error {
			background-color: #AEB4C0;
			background-image: url('../images/error-ace.svg');
		}
	}

	.ace_gutter-active-line,
	.ace_marker-layer .ace_active-line {
		background-color: rgba(#DDDDDD, 0.1);
	}

	.ace_bracket {
		display: none;
	}

	.ace_fold-widget {
		display: none;
	}

	.ace_scroller {
		border-radius: 4px;

		&.ace_scroll-left {
			box-shadow: none;
		}
	}

	&.warnng {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

	}
}

.editor-wrap {
	position: relative;

	&.loading {
		&:after {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 4px;
			content: "";
			display: block;
			background-image:
				linear-gradient(-45deg,
					$main-color 25%,
					#fff 25%,
					#fff 50%,
					$main-color 50%,
					$main-color 75%,
					#fff 75%,
					#fff);
			background-size: 10px 10px;
			animation: loading-stripes .4s linear infinite;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			z-index: 4;
		}
	}
}