.error-message {
	position: absolute;
	right: 0;
	margin-right: 3px;
	background-color: $err-red;
	padding: 0 5px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 12px;
	color: $white;
	line-height: 1.1;
	z-index: 1;
	top: 100%;
	z-index: 8;
}

.error-message-enter,
.error-message-appear {
	opacity: 0;
	transform: translateY(-100%);
	z-index: 0;
}

.error-message-enter-active,
.error-message-appear-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity $speed/5 ease-in, transform $speed/5 ease-in;
	z-index: 0;
}

.error-message-exit {
	opacity: 1;
	z-index: 0;
}

.error-message-exit-active {
	z-index: 0;
	transform: translateY(-50%);
	// opacity: 0;
	transition: opacity $speed/5, transform $speed/5;
}


.field {
	.action-wrap {
		z-index: 2;
		background-color: #fff;
		border-radius: 4px;
	}
}