.footer {
    border-top: 1px solid $bd-gray;
    ul {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 15px;
        min-height: 49px;
        
        li {
            font-size: 1em;
            color: $gray;
            margin-left: 20px;
            &:first-child {
                margin: 0 auto 0 0;
            }
            &:last-child {
                display: flex;
            }
        }
    }
    &.disconnected {
        background-color: rgb(246, 92, 92);
        ul {
            li {
                &:first-child {
                    width: 100%;
                    text-align: center;
                    margin: 0 -120px 0 0;
                    text-transform: uppercase;
                    color: $white;
                }

                .button {
                    margin: 0 0 0 15px;
                    background-color: rgb(81, 84, 89);
                    text-transform: uppercase;
                }
            }
        }
    }
}
.pipeline {
    &-block {
        color: $blue;
    }
    &-latency {
        color: $gray-dark;
    }
}

.status {
    position: relative;
    align-items: center;
    display: flex;
    line-height: 0;
    margin-top: -2px;
    &:before {
        width: 7px;
        height: 7px;
        content: "";
        border-radius: 50%;
        margin-right: 8px;
    }
    &.green {
        color: $green;
        &:before {
            background-color: $green;
        }
    }
    &.white {
        color: $white;
        &:before {
            background-color: $white;
        }
    }
    & + .network-dropdown {
        margin-left: 5px;
    }
}