.header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(247, 247, 247);
    &-global {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-сolor;
        color: #fff;
        height: 30px;
        padding: 0 18px;
        border-top-left-radius: $angulars;
        border-top-right-radius: $angulars;
        position: absolute;
        z-index: 9999999;
        right: 0;
        left: 0;
        top: 0;
        .app-nav {
            button {
                background-color: transparent;
                border: 0;
                color: #fff;
                font-family: 'icomoon';
                src:  url('../fonts/iconmoon/icomoon.eot?h46e29');
                src:  url('../fonts/iconmoon/icomoon.eot?h46e29#iefix') format('embedded-opentype'),
                  url('../fonts/iconmoon/icomoon.ttf?h46e29') format('truetype'),
                  url('../fonts/iconmoon/icomoon.woff?h46e29') format('woff'),
                  url('../fonts/iconmoon/icomoon.svg?h46e29#icomoon') format('svg');
                font-weight: normal;
                font-style: normal;
                font-size: .85em;
                &:not(:last-child){
                    margin-right: 20px;
                }
                &.global-min {
                    &:before {
                        content: '\e913';
                    }
                    
                }
                &.global-max {
                    &:before {
                        content: '\e926';
                    }
                }
                &.global-close {
                    &:before {
                        content: '\e911';
                    }
                }
            }
        }

    }
    .icon-back {
        line-height: 15px;
        padding: 5px;
        color: rgba(#c4c5ca,1);
        margin: 0 10px 0 0;
        transition: color .3s;
        display: block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &:focus {
            border-radius: 0.28571429rem;
            @extend %onFocus;
        }
        &:focus,
        &:hover {
            color: rgba(#6d7178,1);
        }
        &:active {
            box-shadow: none;
        }
        &.sub + .page-title {
            font-size: 16px;
        }
    }
    .page-title {
        color: $text-dark;
        font-size: 20px;
        font-family: proximanovaSemibold;
    }
    .show-sidebar-btn {
        color: $text-dark;
        cursor: pointer;
        transition: color .3s;
        display: block;
        margin-right: 20px;
        .icon-menu {
            line-height: 19px;
        }
    }
    .panel-right {
        margin-left: auto;
        padding-left: 50px;
        display: flex;
        align-items: center;
    }
    .ui.dropdown {
        line-height: normal;
    }
}


.user-section {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .ui.dropdown {
        &.active {
            .dropdown.icon {
                line-height: 11px;
            } 
        }
        .menu {
            right: 0;
            left: auto;
            margin-top: 10px;
            min-width: 320px;
            border-radius: 0;
            overflow: hidden;
            .balance {
                margin-left: 10px;
            }

            & > .item {
                padding: 0;
                color: #6d7178;
                &:hover {
                    background-color: transparent;
                    .user-item {
                        background-color: $main-сolor;
                        color: #fff;
                        .balance {
                            color: #fff;
                        }
                    }
                    .logout-user-btn {
                        color: transparent;
                        width: auto;
                        padding: 0 1.14285714rem 0 0;
                        background-color: $main-сolor;

                    }
                }

                &.selected {
                    background-color: transparent;
                    &:hover {
                        .user-item {
                            color: #fff;
                            font-weight: 700;
                            .balance {
                                color: #fff;

                            }
                        }
                    }
                    .user-item {
                        color: $main-сolor;
                        font-weight: 700;
                        & > span {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 140px;
                        }
                        .balance {
                            color: $main-сolor;
                            span:nth-child(1) {
                                font-family: proxima;
                            }
                        }
                    }
                }
                &.active {
                    background-color: #f8f8f8;
                }
                &.add-account {
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    left: 15px;
                    height: 39px;
                    z-index: 2;
                    font-family: proximanovaSemibold;
                    font-size: .9rem;
                    color: rgb(211, 212, 214);
                    transition: color $speed;
                    &.selected {
                        color: $inut-hover;
                        background-color: transparent;
                        .text {
                            position: relative;
                            &:before {
                                @extend %onTextFocus;
                                position: absolute;
                                content: '';
                                display: block;
                                right: -3px;
                                left: -3px;
                                top: -3px;
                                bottom: -1px;
                                border-radius: $angulars;
                            }
                        }
                    }
                    &:hover {
                        color: $inut-hover;
                    }
                    &:focus {
                        color: $inut-hover;
                    }
                    &:before {
                        font-family: 'icomoon';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1px;
                        /* Better Font Rendering =========== */
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 1.3em;
                        content: "\e900";
                        margin-right: 7px;
                    }
                }
                .user-item,
                .user-panel {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .user-item {
                    background-color: transparent;
                    width: 100%;
                    border: 0;
                    cursor: pointer;
                    color: $black;
                    transition: background-color $speed, color $speed;
                    padding: 0.78571429rem 1.14285714rem;
                    font-size: .95em;
                    &-wrap {
                        display: flex;
                    }
                }
                .logout-user-btn {
                    overflow: hidden;
                    width: 0;
                    padding: 0;
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    cursor: pointer;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    border: 0;
                    transition:
                        background-color $speed,
                        width $speed,
                        padding $speed;
                    &:before {
                        content: "\e923";
                        color: #fff;
                        transition: color $speed;
                    }
                    &:hover {
                        &:before {
                            color: $yellow;
                        }
                    }
                }
                .user-panel {
                    padding: 0;

                }
            }
            .logout {
                color: $main-сolor;
                font-family: proximanovaSemibold;
                margin: 0 10px 0 auto;
                padding: 3px 5px;
                border-radius: $angulars;
                border-bottom: 1px solid transparent;
                position: relative;
                &:after {
                    margin: 1px 0 -2px 0;
                    height: 1px;
                    display: block;
                    content: '';
                    background-color: transparent;
                    transition: background $speed;
                }
                &:hover {
                    &:after {
                        background-color: rgba($main-сolor, .4);
                    }
                }
                &-wrap {
                    max-width: 76px;
                    margin-left: auto;
                    height: 38px;
                    display: flex;
                    justify-content: flex-end;
                    &.selected {
                        background-color: transparent;
                        .logout {
                            &:after {
                                background-color: rgba($main-сolor, .4);
                            }
                        }
                    }
                    &:before {
                        width: 1000px;
                        height: 1px;
                        display: block;
                        content: '';
                        top: 0;
                        background-color: $bd-gray;
                        right: 0;
                        margin: auto;
                        position: absolute;
                    }
                }
            }
        }

        .dropdown.icon {
            color: $link-gray;
        }
        & > .text {
            color: $main-сolor;
            font-family: proximanovaSemibold;
        }

    }
    .balance {
        transition: color $speed;
        color: $link-gray;
        position: relative;

        &:focus {
            &:before {
                top: 0px;
                right: -3px;
                bottom: 3px;
                left: -3px;
                content: '';
                position: absolute;
                @extend %onTextFocus;
                display: block;
                border-radius: 3px;
            }

        }
        &:active {
            &:before {
                box-shadow: none;
            }
        }
        span {
            &:nth-child(1) {
                font-family: proximanovaSemibold;
                margin-right: 3px;
            }
        }
    }
}
