.input-password {
	.icon-e-show {
		padding: 0 10px;
		font-size: 11px;
	}

	.icon-e-hide {
		padding: 0 10px;
		font-size: 14px;
	}

	.action-input {
		z-index: 2;
		position: relative;

		input {
			padding-right: 38px;
		}

		.action-btn {
			position: absolute;
			right: 1px;
			top: 1px;
			bottom: 1px;
			border: 0;
			border-top-right-radius: 0.285714rem;
			border-bottom-right-radius: 0.285714rem;
			color: rgba(#5C637D, .5);
			padding: 0;
			cursor: pointer;
			transition: color $speed;

			&:hover {
				background-color: transparent;
				color: rgba(#5C637D, .4);
			}

			&:focus {
				background-color: transparent;
			}

			&:active {
				background-color: transparent;
				color: rgba(#5C637D, .3);
			}
		}
	}
}