.sidebar {
    display: flex;
    &.menu {
        background-color: $bg-gray;
    }
    &-body {
        flex: 1;
    }
    &-logo {
        font-size: 30px;
    }
    &-close {
        margin-left: auto;
    }
    &-logo,
    &-close {
        transition: opacity .5;
        opacity: 0;
        width: 0;
        z-index: -1;
    }
    .icon {
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        margin-right: 10px;
        &-menu {
            position: absolute;
            transition: opacity .5s, color .3s;
            opacity: 1;
            width: 60px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
        }
    }
    &-header {
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        .icon-menu,
        .icon-close {
            cursor: pointer;
            color: #c4c5ca;
            &:hover {
                color: $link-gray;
            }
        }
        .icon-close {
            transition: color .3s;
        }

    }
    &-body {
        padding: 0;
        margin: 90px 0 30px; 
        overflow: hidden;
    }

    &-footer {
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: rgb(225, 225, 230);
    }

    &-nav {
        li {
            font-size: 16px;
            color: $link-gray;
            display: block;
            transition: background-color .3s;
            .sidebar-nav-link {
                display: flex;
                min-height: 45px;
                padding: 8px 15px;
                align-items: center;
                justify-content: flex-start;
                white-space: nowrap;
                color: $link-gray;
                border-left: 4px solid transparent;
                transition: background-color .3s,border .3s, color .3s;
                &:hover {
                    background-color: rgba(#c5c9d2,.2);
                    border-color: rgba(#c5c9d2,.2);

                }
                &.active {
                    border-left: 4px solid $orange;
                    background-color: #c5c9d2;
                    color: #fff;
                    pointer-events: none;
                    .sidebar-nav-text {
                        color: #fff;
                    }
                }
            }
        }
        &-text {
            margin-left: 10px;
            opacity: 0;
            transition: opacity .3s;       
        }
    }
}

.visible.sidebar {
    .sidebar-logo,
    .sidebar-close {
        width: auto;
        opacity: 1;
        transition: opacity .3s;
        z-index: initial;
    }
    .icon {
        &-menu {
            transition: none;
            opacity: 0;
            width: 0;
            z-index: -1;
        }
    }
    .sidebar-nav {
        .sidebar-nav-text {
            display: block;
            position: relative;
            opacity: 1;
            transition: opacity .3s;
            transition-delay: .2s;
        }
    }
}