.sidebar {
    display: flex;
    &.menu {
        background-color: $bg-gray;
    }
    &-body {
        flex: 1;
    }
    &-logo {
        font-size: 30px;
    }
    &-close {
        margin-left: auto;        
    }
    &-header {
        padding: 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-menu,
        .icon-close {
            display: block;
            cursor: pointer;
            color: #c4c5ca;
            transition: color .3s;
            &:hover {
                color: $link-gray;
            }
        }
    }
    &-body {
        padding: 0;
        margin: 90px 0 30px; 
    }

    &-footer {
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: rgb(225, 225, 230);
    }

    &-nav {
        li {
            font-size: 16px;
            color: $link-gray;
            display: block;
            transition: background-color .3s;
            &.accordion {
                padding: 2px 0;
                transition: padding .1s;
            }
            .sidebar-nav-link {
                display: flex;
                min-height: 40px;
                padding: 8px 20px;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
            }
            .icon {
                display: block;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 22px;
            }
            a {
                color: $link-gray;
            }
        }
    }
    .accordion .content {
        display: none;
    }
    
}


// FOR ANIMATION 

.sidebar {
    &-nav {
        .ui.accordion {
            .title {
                display: flex;
                justify-content: center;
                white-space: nowrap;
                margin: 0;
                border-bottom: 1px solid transparent;
            }
        }   
        &-text {
            display: none;
            margin-right: auto;
        }
    }
    .accordeon-item {
        height: 40px;
        transition: background-color .3s,border .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid transparent;
        padding-right: 2px;
        animation: fadeIn 1s;
        white-space: nowrap;
        &:hover {
            background-color: rgb(197, 201, 210);
            border-left: 2px solid $orange;
        }
    }
    &:not(.visible) {
        .sidebar-nav {
            li {
                &.opened {
                    .content {
                        background-color: rgb(221, 222, 228);
                    }
                }
            }
            .ui.accordion {
                .title {
                    transition: border 2s;
                    border-bottom: 1px solid $bd-gray;
                    max-width: 60px;
                    margin: auto;
                    position: relative;
                    &:before {
                        position: absolute;
                        font-size: 11px;
                        font-family: 'Dropdown';
                        line-height: 0;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        font-weight: normal;
                        font-style: normal;
                        text-align: center;
                        content: "\F0D7";
                        transform: rotate(180deg);
                        bottom: 2px;
                        color: #aeb4c0;
                    }
                }
            }   
        }
    }
    &.visible {
        .sidebar-nav {
            li {
                &.opened {
                    background-color: rgb(221, 222, 228);
                    padding: 10px 0;
                }
            }
            .ui.accordion {
                .title {
                    margin: 0 20px;
                }
            }
        }

        .sidebar-nav-text {
            display: flex;
            animation: fadeIn 1s;
        }
        .accordion {
            &.ui.opened {
                .title:after {
                    display: flex;
                }
            }
         }
         .accordeon-item {
            height: 40px;
            transition: background-color .3s,border .3s;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 46px;
            border-left: 4px solid transparent;
            &:hover {
                background-color: rgb(197, 201, 210);
                border-left: 4px solid $orange;
            }
        }
        .icon {
            line-height: 1;
            font-size: 20px;
            margin-right: 10px;
        }
    }
   .accordion {
       &.ui.opened {
           .title:after {
               display: none;
           }
       }
    }
}