.sidebar-logo {
	font-size: 0;
	color: $text-dark;
}

.sidebar-close {
	margin-left: auto;
}

.sidebar-header {
	padding: 0 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;

	.icon-menu,
	.icon-close {
		background-color: transparent;
		border: 0;
		transition: background-color $speed, color $speed;
		cursor: pointer;
	}

	.icon-menu {
		animation: fadeIn 1.3s;
		color: $text-dark;
		font-size: 12px;
	}
}

.sidebar-body {
	flex: 1;
	padding: 0;
	margin: 0 0 30px;
	overflow: hidden;
}

.sidebar-footer {
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	background-color: rgb(225, 225, 230);
}

.sidebar {
	display: flex;
	flex-direction: column;

	&.menu {
		background-color: $bg-gray;
	}

	&-logo,
	&-close {
		opacity: 0;
		width: 0;
		z-index: -1;
	}

	.icon {
		display: block;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		font-size: 18px;

		&.icon-menu-wallet {
			height: 24px;
		}

		&.icon-recent-activity {
			height: 22px;
			padding: 0 1px;
		}

		&.icon-contractSearch {
			font-size: 19px;
			padding: 1px 2px;
		}

		&.icon-permission {
			font-size: 19px;
			padding: 1px 2px;
		}
	}

	.icon-menu {
		position: absolute;
		transition: opacity .5s, color .3s;
		opacity: 1;
		width: 56px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;

		&:hover,
		&:focus {
			background-color: rgba(#c5c9d2, .2);
		}
	}

	&-nav {
		li {
			font-size: 16px;
			color: $text-dark;
			display: block;
			transition: background-color .3s;
		}

		&-text {
			margin-left: 17px;
			opacity: 0;
			transition: opacity .3s;
		}
	}

	.icon-close {
		width: 30px;
		height: 30px;
		margin-right: 2px;
		margin-top: 18px;

	}

}

.sidebar-nav-link {
	display: flex;
	min-height: 45px;
	padding: 8px 15px;
	color: $text-dark;
	align-items: center;
	justify-content: flex-start;
	white-space: nowrap;
	border-left: 2px solid transparent;
	transition: background-color .3s, border .3s, color .3s;

	&:hover,
	&:focus {
		background-color: rgba(222, 223, 229, 1);
		border-color: rgba(222, 223, 229, 1);

	}

	&.active {
		border-left: 2px solid $main-color;
		background-color: rgba(215, 217, 223, 1);
	}
}

.visible.sidebar {
	.sidebar-logo {
		font-size: 30px;
	}

	.sidebar-logo,
	.sidebar-close {
		width: auto;
		opacity: 1;
		transition: opacity .3s;
		z-index: initial;
	}

	.icon-menu {
		transition: none;
		opacity: 0;
		width: 0;
		z-index: -1;
		display: none;
	}

	.sidebar-nav {
		.sidebar-nav-text {
			display: block;
			position: relative;
			opacity: 1;
			transition: opacity .3s;
			transition-delay: .2s;
			color: #5c637d;
			font-family: proxima;
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.icon-close {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #c4c5ca;

	&:hover {
		color: $text-dark;
	}

	&:focus:not(:active) {
		border-radius: 4px;
		border: 2px solid rgba(186, 188, 203, 0.4);
	}

	&:active {
		color: rgba(186, 188, 203, 0.4);
	}
}