
.sign-nav {
    margin-top: 20px;
    display: flex;
    color: $gray;
    .link {
        margin-left: 4px;
    }
}

.sign-scroll-fix {
    max-height: calc(100vh - 40px);
    height: 100vh;
    overflow: overlay;
    display: flex;
    .form {
        &.main-form {
            
            padding: 30px 0;
            @media only screen and (min-height: 620px) {
                height: 520px;
            }
            @media only screen and (min-height: 900px) {
                margin-top: 15vh;
                padding: 0px;

            }
            .form-panel {
                margin: 30px 0 auto;
            }
        }
    }
}