.sub-header {
    display: flex;
    height: 40px;
    width: 100%;
	padding-left: 19px;
	padding-right: 25px;
    background-color: #f7f7f7;
    border-top: 1px solid #e9e9ed;
    color: #5c637d;
    line-height: 40px;


	// frozen-page
    .icon-frozen-funds {
        display: block;
        font-size: 19px;
        line-height: 41px;
        text-align: center;
        margin-right: 10px
    }

    .balance {
        font-size: 16px;
        font-family: proximaNovaSemibold;
        font-weight: 400;
        color: #5c637d;
        text-transform: uppercase;
        line-height: 38px;

        span {
            padding-left: 9px;

            &:last-child {
                padding-left: 3px;
            }
        }
	}

	& + .frozen {
        height: calc(100vh - 160px);
	}
	
	// backup and permissions page

	.account-info-type {
		font-size: 14px;
		font-weight: 500;
		color: rgba(#5C637D, .76);
		line-height: 26.4px;
	}
	.account-info-value {
		font-size: 16px;
		font-weight: 500;
		color: #5C637D;
		line-height: 26.4px;
		margin-left: 10px;
	}

	.sub-header-panel {
		.button {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}