@keyframes inner-tooltip {
	0% {
		opacity: 0;
		top: 45px;
	}

	100% {
		opacity: 1;
		top: 60px;
	}
}

.inner-tooltip-trigger {
	.inner-tooltip {
		opacity: 0;
		display: none;
	}
	&:hover {
		& + .inner-tooltip {
			display: block;
			animation: inner-tooltip .2s ease forwards;
		}
	}
}


.inner-tooltip {
    font-family: proxima;
    margin-left: 35px;
    margin-bottom: -65px;
	position: absolute;
	top: 45px;
	display: none;
	z-index: 100;
	margin: 20px 0;
	padding: 5px 10px;
	color: #3b3b3b;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	border-radius: 4px;
	border: 1px solid rgba(59, 59, 59, 0.4);
	background-color: #fff6d2;
	text-align: left;
	cursor: default;
	user-select: none;
	pointer-events: none;
	max-width: 500px;
	.content {
		padding: 5px 10px;
	}
}