.user {
    &-info {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $link-gray;
        .icon-menu_5 {
            display: block;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    &-action {
        color: $main-Ñolor;
    }

}

.avatar-image {
    img {
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }

    svg {
        border-radius: 3px;
    }
}

.avatar-block {
    & > div {
        display: inline-block;
    }

    & > span {
        position: relative;
        left: 10px;
        top: -5px;
    }
}
