$stripe-color: rgba(255,255,255,.7);
$stripe-width: 10px;

.load {
    position: relative;
    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 4px;
        content: "";
        display: block;
        background-image: linear-gradient(
          -45deg, $stripe-color 25%, 
          transparent 25%, 
          transparent 50%, 
          $stripe-color 50%, 
          $stripe-color 75%, 
          transparent 75%, 
          transparent
        );
        background-size: $stripe-width $stripe-width;  
        animation: loading-stripes .4s linear infinite;
    }
}
.ui.button {
    &.transparent {
        font-family: proximanovaSemibold;
        background-color: transparent;
        border-color: transparent;
        color: #aeb4c0;
        text-transform: capitalize;
        font-size: 1em;
        padding: 8.5px 0;
        margin: 0;
        &:hover,
        &:focus {
            color: #9ca2ac;
        }
    }
}

@keyframes loading-stripes {
    0% {background-position: 0px}
    100% {background-position: $stripe-width}
}
.ui {
    &.orange.button {
        &:not(.load) {
            &:focus {
                background-color: rgba($orange,.185);
                color: $orange;
                box-shadow: 0px 0px 0px 1px $orange inset;
            }
        }

        &.basic {
            transition: background-color .4s !important;
            transition: color .3s;
            &:hover,
            &:focus {
                background-color: $orange !important;
                color: #fff !important;
            }
        }

    }
}

.btn-list {
    padding: 20px;
    .ui.button {
        &:not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
}
