$stripe-color: rgba(255,255,255,.7);
$stripe-width: 10px;

.load {
    position: relative;
    &:after {
        position: absolute;
        bottom: -2px;
        right: 0;
        left: 0;
        height: 4px;
        content: "";
        display: block;
        background-image: linear-gradient(
          -45deg, $stripe-color 25%, 
          transparent 25%, 
          transparent 50%, 
          $stripe-color 50%, 
          $stripe-color 75%, 
          transparent 75%, 
          transparent
        );
        background-size: $stripe-width $stripe-width;  
        animation: loading-stripes .4s linear infinite;
    }
}
.ui {
    &.button {
        &.transparent {
            background-color: transparent;
            border-color: transparent;
            color: #aeb4c0;
            text-transform: capitalize;
            font-size: 1em;
            padding: 5px 10px;
            margin: 0;
            &:hover {
                color: #9ca2ac;
                background-color: $bg-hover;
            }
        }
        &.copy {
            &:focus {
                box-shadow: none;
                background-color: rgba($main-сolor,.185);
                color: $main-сolor;
            }
        }
        &.send {
            font-family: proximanovaSemibold;
            background-color: transparent;
            color: $link-gray;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            border-right: 1px solid $bd-gray;
            border-left: 1px solid $bd-gray;
            height: 50px;
            border-radius: 0;
            width: 106px;
            background-color: transparent;
            transition: background-color .3s;
            i {
                &:before {
                    margin: -2px 5px 0 0;
                    display: block;
                }
                font-size: 1.3rem;    
                color: rgba($main-сolor, .9);
                transition: .3s;
            }
            &:focus,
            &:hover {
                box-shadow: none;
                background-color: $bg-gray;
                i { 
                    color: $main-сolor;
                }
            }
        }
    }
}

@keyframes loading-stripes {
    0% {background-position: 0px}
    100% {background-position: $stripe-width}
}

.btn-list {
    padding: 20px;
    .ui.button {
        margin: 0 10px 0 0;
    }
}
