$stripe-color: rgba(255,255,255,.7);
$stripe-width: 10px;

.load {
    position: relative;
    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 4px;
        content: "";
        display: block;
        background-image: linear-gradient(
          -45deg, $stripe-color 25%, 
          transparent 25%, 
          transparent 50%, 
          $stripe-color 50%, 
          $stripe-color 75%, 
          transparent 75%, 
          transparent
        );
        background-size: $stripe-width $stripe-width;  
        animation: loading-stripes .4s linear infinite;
    }
}

@keyframes loading-stripes {
    0% {background-position: 0px}
    100% {background-position: $stripe-width}
}

.ui.basic.orange.button {
    transition: background-color .4s !important;
    transition: color .3s;
    &:hover {
        background-color: $orange !important;
        color: #fff !important;

    }
}

.btn-list {
    padding: 20px;
    .ui.button {
        margin: 0 10px 0 0;
    }
}