.ui.dropdown {
    &.active {

        .dropdown.icon,
        .icon-dropdown_arrow {
            transform: rotate(180deg);
        }

        &.compact {
            .dropdown.icon {
                line-height: 17px;
            }
        }
    }

    &.fee-default-dropdown {
        &.no-choice {
            cursor: auto;

            .menu {
                display: none !important;
            }

            .dropdown.icon {
                display: none;
            }

            &>.text {
                margin-right: 0;
            }
        }
    }

    &.fee-dropdown {
        display: flex;
        align-items: center;
        border: 0;
        border-left: 0;
        padding: 0 0 0 5px;
        transition: border .3s;
        text-align: right;
        min-width: auto;
        min-height: auto;
        background: transparent;

        &.no-choice {
            cursor: auto;

            input.search {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }

            .menu {
                display: none !important;
            }

            .dropdown.icon {
                display: none;
            }

            &>.text {
                margin-right: 0;
            }
        }

        &>.text {
            margin-right: 5px;
            color: $main-сolor;
        }

        .dropdown.icon {
            font-size: 12px;
            position: relative;
            top: auto;
            right: auto;
            margin: -3px 0 0 0;
            padding: 0;
        }

        &.active {
            box-shadow: none;

            .dropdown.icon {
                margin-top: -1px;
            }

            &:hover {
                box-shadow: none;
            }
        }

        .menu {
            left: auto;
            right: 0;
            top: 20px;
            max-height: 212px;
            width: auto;
            min-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-radius: 0.28571429rem;
            border-top: 1px solid #96C8DA;

            &>.item {
                padding: .5rem;
            }
        }

        .item {
            .text {
                white-space: nowrap;
                display: block;
            }
        }
    }

    &.contract-type-dropdown {
        display: flex;
        align-items: center;
        padding: 5px 1em;
        transition: border .3s;
        align-self: flex-start;
        min-height: 15px;
        min-width: 100px;
        max-width: 100px;

        .dropdown.icon {
            font-size: 12px;
            padding: 4px;
        }

        .text {
            margin-top: 1px;
        }

        .menu {
            .item {
                margin: auto;
                padding-bottom: 7px;
                padding-top: 7px;

                &.disabled {
                    &.header {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.assets-tokens-dropdown {
        display: flex;
        align-items: center;
        border: 1px solid $inut-color;
        border-left: 0;
        padding: 0.67857143em 1em;
        transition: border .3s;
        align-self: flex-start;
        min-height: 38px;

        &.active {
            &:not(.no-choice) {
                border-bottom-right-radius: 0 !important;
            }

            .filtered {
                display: none;
            }

            .dropdown.icon {
                margin-top: -7px;
                margin-right: -10px;
            }
        }

        .dropdown.icon {
            padding-left: 1em;
        }

        &.no-choice {
            cursor: auto;

            input.search {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }

            .menu {
                display: none !important;
            }

            .dropdown.icon {
                display: none;
            }

            &>input.search {
                &:focus {
                    &+.text {
                        color: $main-сolor;
                    }
                }
            }
        }

        &>input.search {
            padding-right: 28px;
            transition: color .3s;
        }

        &>.text {
            cursor: pointer;
        }

        .menu {
            max-height: 180px;
            width: 151px;
            max-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 1px solid $bd-gray;

            &>.item:nth-child(1) {
                &.header {
                    margin: 0;
                }
            }

            &>.header {
                height: 30px;
                margin: 6px 0 0;
                background-color: transparent;
                border: 0;
                color: #c4c4c4;
            }
        }

        .tokens_header {
            .text {
                &:before {
                    content: "tokens";
                    text-transform: uppercase;
                    display: block;
                }
            }
        }

        .assets_header {
            .text {
                &:before {
                    content: "assets";
                    text-transform: uppercase;
                    display: block;
                }
            }
        }

        &.selection {
            .menu {
                .disabled {
                    &.header {
                        opacity: 1;
                    }
                }
            }

            &:hover,
            &:active,
            &:focus {
                border-color: $inut-color;
                cursor: pointer;
            }

            &.active {
                box-shadow: none;

                .menu {
                    box-shadow: none;
                    border-color: $bd-gray;
                }

                &:hover,
                &:active,
                &:focus {
                    box-shadow: none;
                    border-color: $bd-gray;
                    border-bottom: 1px solid $bd-gray;

                    .menu {
                        box-shadow: none;
                        border-color: $bd-gray;
                    }
                }
            }
        }
    }

    &.network-dropdown {
        margin-right: -15px;

        &.upward {
            &>.menu {
                bottom: calc(100% - 5px);
            }
        }

        &.disconnected {
            .network-dropdown-trigger {
                &:hover {
                    background-color: transparent;
                }

                .status.connected {
                    color: #fff;

                    &:before {
                        background-color: #fff;
                    }
                }

                .pipeline-block,
                .icon-dropdown_arrow,
                .description {
                    color: #fff;
                }
            }
        }

        .network-dropdown-trigger {
            height: 39px;
            display: flex;
            align-items: center;
            padding: 0 13px 0 12px;
            background-color: transparent;
            transition: background-color $speed;
            border-left: 1px solid rgb(212, 212, 212);

            &:hover {
                background-color: #f7f7f7;

            }

            .icon-dropdown_arrow {
                margin-left: auto;
                margin-right: 2px;
                font-size: 4px;
            }
        }

        .description {
            margin-right: 6px;
            line-height: 1;
        }

        .status {
            .ellipsis {
                max-width: 85px;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
            }

        }

        &>.dropdown.icon {
            margin: 0em 0em 0em auto;
        }

        .network-link {
            color: $main-сolor;
            transition: color $speed;
        }

        &>.menu {
            padding-top: 6px;
            border-radius: 0;
            width: 100%;
            max-height: 245px;
            overflow: auto;
            width: 289px;

            &.left {
                right: 10px;
            }

            &:before {
                content: "Choose Network";
                padding: 7px 0 7px 19px;
                text-transform: uppercase;
                display: block;
                font-family: proximanovaSemibold;
                font-size: 14px;
                color: rgba(#5D637B, .5);

            }

            .item {
                padding: 0;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $black;
                transition: color $speed, background-color $speed;

                &-divider {
                    height: 1px;
                    background-color: $bd-gray;
                    margin: 6px 0 0;

                    &.disabled {
                        opacity: 1;
                    }
                }

                &:hover {
                    &.selected {
                        .label-text {
                            &:before {
                                background-color: #fff;
                                border-color: #fff;
                            }
                        }
                    }

                    .label-text {
                        &:before {
                            border-color: #fff;
                        }
                    }

                    .label-link {
                        color: #fff;
                    }
                }

                &.selected {
                    background-color: transparent;

                    .label-text {
                        &:before {
                            background-color: $main-сolor;
                            border-color: $main-сolor;
                        }
                    }
                }

                &-link {
                    height: 42px;
                    color: $main-сolor;
                    font-family: proximanovaSemibold;

                    &:hover {
                        background-color: $main-сolor;

                        .network-link {
                            color: #fff;
                        }
                    }

                    &.active {
                        text-decoration: underline;
                    }

                    .network-link {
                        width: 100%;
                        padding: 10px 19px;
                        height: 36px;
                        align-items: flex-start;
                    }
                }

                &.item-divider+.item:not(.item-link) {
                    margin-top: 6px;
                }

                &:not(.item-link):not(.item-divider) {
                    &.active {
                        background-color: #f8f8f8;
                    }

                    &:hover {
                        background-color: $main-сolor;
                        color: #fff;

                        .icon-remove,
                        .network-link {
                            color: #fff;
                        }
                    }


                    &.active {
                        .label {
                            &:before {
                                @extend %onFocus;
                            }
                        }
                    }

                }

                .icon-remove {
                    margin: 0;
                    border-radius: 0;
                    padding: 0 16px;
                    height: 40px;
                    position: absolute;
                    right: 0;

                    &:hover {
                        background-color: #4258b5;
                    }
                }

                .label-text {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &:before {
                        width: 6px;
                        height: 6px;
                        content: "";
                        border-radius: 50%;
                        margin: 0;
                        background-color: transparent;
                        border: 1px solid rgba(#5D637B, .5);
                        transition: background-color $speed, border $speed;
                        margin-left: 19px;
                        display: block;
                    }

                    .name {
                        padding: 0 0 0 7px;
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .label-link {
                    padding: 0 0 0 33px;
                    color: #5267C6;
                    transition: color $speed;
                    max-width: 225px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .error-wrap {
                    margin: 0;
                    padding-bottom: 20px;
                }

                .field {
                    label {
                        padding: 19px 19px 5px;
                    }
                }
            }



        }
    }

    &.no-choice {
        cursor: auto;

        input.search {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .menu {
            display: none !important;
        }

        .dropdown.icon {
            display: none;
        }
    }

}

.error {
    .ui.dropdown {
        &.fee-default-dropdown {
            border: 1px solid #ff4848;
        }
    }
}

.fee-dropdown-wrap {
    z-index: 10;

    .fee-dropdown {
        &.ui.dropdown.active {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.visible.transition {
    display: flex;
    visibility: visible !important;

    &.menu {
        display: block;
    }
}