.dropdown {
    &.active:not(.empty) {
        i.icon,
        .dropdown.icon {
            transform: rotate(180deg);
        }

        &.compact {
            .dropdown.icon {
                line-height: 17px;
            }
        }
    }

    &.fee-default-dropdown {
        &.empty {
            cursor: auto;

            .menu {
                display: none !important;
            }

            .dropdown.icon {
                display: none;
            }

            &>.text {
                margin-right: 0;
            }
        }
    }
	
    &.assets-tokens-dropdown {
        display: flex;
        align-items: center;
        border: 1px solid $inut-color;
        border-left: 0;
        padding: 0 1em;
        transition: border .3s;
        align-self: flex-start;
        min-height: 38px;

        &.active {

            .filtered {
                display: none;
            }

            .dropdown.icon {
                margin-top: -7px;
                margin-right: -10px;
            }
        }

        .dropdown.icon {
            padding-left: 1em;
        }

        &>input.search {
            padding-right: 28px;
            transition: color .3s;
            cursor: pointer;
        }

        &>.text {
            @include cut-text;
            cursor: pointer;
            max-width: calc(100% - 8px);
        }

        .menu {
            max-height: 180px;
            width: 151px;
            max-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 1px solid $bd-gray;

            &>.item {
                @include cut-text;
                padding-right: 0;

                &:nth-child(1) {
                    &.header {
                        margin: 0;
                    }
                }
            }

            &>.header {
                height: 30px;
                margin: 6px 0 0;
                background-color: transparent;
                border: 0;
                color: #c4c4c4;
            }
        }

        .tokens_header {
            .text {
                &:before {
                    content: "tokens";
                    text-transform: uppercase;
                    display: block;
                }
            }
        }

        .assets_header {
            .text {
                &:before {
                    content: "assets";
                    text-transform: uppercase;
                    display: block;
                }
            }
        }

        &.selection {
            .menu {
                .disabled {
                    &.header {
                        opacity: 1;
                    }
                }
            }

            &:hover,
            &:active,
            &:focus {
                border-color: $inut-color;
                cursor: pointer;
            }

            &.active {
                box-shadow: none;

                .menu {
                    box-shadow: none;
                    border-color: $bd-gray;
                }

                &:hover,
                &:active,
                &:focus {
                    box-shadow: none;
                    border-color: $bd-gray;
                    border-bottom: 1px solid $bd-gray;

                    .menu {
                        box-shadow: none;
                        border-color: $bd-gray;
                    }
                }
            }
        }
    }

    &.fee-dropdown {
        display: flex;
        align-items: center;
        border: 0;
        border-left: 0;
        padding: 0 0 0 5px;
        transition: border .3s;
        text-align: right;
        min-width: auto;
        min-height: auto;
        background: transparent;

        &.empty {
            cursor: auto;

            input.search {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }

            .menu {
                display: none !important;
            }

            .dropdown.icon {
                display: none;
            }

            &>.text {
                margin-right: 0;
            }
        }

        &>.text {
			font-size: 12px;
            color: $main-color;
        }

        .dropdown.icon {
            font-size: 12px;
            position: relative;
            top: auto;
            right: auto;
            margin: -3px 0 0 0;
            padding: 0;
        }

        &.active {
            box-shadow: none;

            .dropdown.icon {
                margin-top: -1px;
            }

            &:hover {
                box-shadow: none;
            }
        }

        .menu {
            left: auto;
            right: 0;
            top: 20px;
            max-height: 212px;
            width: auto;
            min-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-radius: 4px;
            border-top: 1px solid #96C8DA;

            &>.item {
                padding: .5rem;
            }
        }

        .item {
            .text {
                white-space: nowrap;
                display: block;
            }
        }
	}

	&.contract-type-dropdown {
		display: flex;
		align-items: center;
		padding: 5px 1em;
		transition: border .3s;
		align-self: flex-start;
		min-height: 15px;
		min-width: 100px;
		max-width: 100px;
	
		.dropdown.icon {
			font-size: 12px;
			padding: 4px;
		}
	
		.text {
			margin-top: 1px;
		}
	
		.menu {
	
			.item {
				margin: auto;
				padding-bottom: 7px;
				padding-top: 7px;
	
				&.disabled {
					&.header {
						opacity: 1;
					}
				}
			}
			& > .item:not(.disabled):hover {
				background: rgba(0, 0, 0, 0.05);
				color: rgba(0, 0, 0, 0.95);
				z-index: 13;
			}
		}
	}

    &.empty {
        .menu {
            display: none !important;
        }
	}
}




.error {
    .dropdown {
        &.fee-default-dropdown {
            border: 1px solid #ff4848;
        }
    }
}

.fee-dropdown-wrap {
    z-index: 10;

    .fee-dropdown {
        &.dropdown.active {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }
    }

    i.icon {

        margin: 0 -4px 0 0;
        line-height: 10px;

        &:before {
            font-family: icomoon;
            speak: none;
            font-style: normal;
            font-weight: 400;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            content: '\e907';
            font-size: 4px;
            vertical-align: middle;
            color: #b2b4b7;
        }
    }
}

.visible.transition {
    display: flex;
    visibility: visible !important;

    &.menu {
        display: block;
    }
}

.dropdown > .selected.item {
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.95);
}

.dropdown-wrap {

	.dropdown-label {
		@include label()
		line-height: 20px;
	}

	.dropdown {
		width: 100%;
		background-color: #fff;
		height: 38px;
		border: 1px solid #DDDDDD;
		border-radius: 4px;
		transition: border-color $speed;

		&:hover {
			border-color:#BABCCB;
			.menu {
				border-color:#BABCCB;
			}
			.item.generate-address {
				border-color:#BABCCB;
			}
		}

		.item:not(.dropdown-header) {
			transition: background-color $speed;
			&:hover {
				background-color: $main-color;
				
				&.address-item-wrap {
					.address {
						color: #fff;
					}
					.name {
						color: rgba(#fff, .8);
					}
				}
				&.user-item {
					.name {
						color: #fff;
					}
				}
				.dropdown-copy-btn {
					color: #fff;
				}
			}
		}
		
		.item.generate-address {
			position: sticky;
			bottom: 0;
			background-color: #fff;
			border-top: 1px solid #DDDDDD;
			height: 38px;
			color: $main-color;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			font-family: proximanovaSemibold;
			font-size: 12px;
			transition: color $speed;
			z-index: 44;
			&:hover {
				color: #fff;
			}
		}

		.message {
			padding: 14px 15px;
		}

		&.visible {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		& > .dropdown.icon {
			position: absolute;
			right: 12px;
			top: 0px;
			bottom: 4px;
			margin: auto;
		}

		&.active {
			& > .dropdown.icon {
				bottom: 0;
			}
		}

		.menu {
			min-width: calc(100% + 2px);
			max-width: calc(100% + 2px);
			margin-left: -1px;
			transition: border-color $speed;
			max-height: 262px;
		}

		input.search {
			height: 36px;
			padding: 0.678571em 32px 0.678571em 1em
		}

		input.search + .text {
			line-height: 36px;
			padding: 0 1em;
			font-size: 15px;
			font-family: proxima;
			font-weight: 400;
			&:not(.filtered) {
				color: rgba(#3B3B3B, 0.5);
			}
		}

		.dropdown-header {
			padding: 0 15px;
			display: flex;
			justify-content: space-between;
			min-height: 26px;
			.title {
				margin: 10px 0 0;
				font-family: proximanovaSemibold;
				font-size: 12px;
				color: rgba(#3B3B3B, 0.3);
				text-transform: uppercase;
			}
		}
		.user-item {
			display: flex;
			align-items: center;
			padding: 0 15px;
			min-height: 44px;

			.avatar-wrap {
				min-width: 20px;
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}

			.name {
				font-size: 15px;
				line-height: 16px;
				font-weight: 400;
				transition: color $speed;
			}
		}

		.address-item-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 15px;
			min-height: 44px;

			.address {
				@include cut-text;
				font-size: 15px;
				line-height: 17px;
				max-width: 324px;
				color: #3B3B3B;
				transition: color $speed;
			}
			.name {
				@include cut-text;
				max-width: 324px;
				font-size: 13px;
				color: rgba(#3B3B3B, .8);
				transition: color $speed;
			}
		}

		.dropdown-copy-btn {
			margin: -2px 0 0;
		}

		.address-item {
			display: flex;
			justify-content: space-between;
		}

		.add-icon {
			&:before {
				font-family: 'icomoon';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 15px;
				content: "\e900";
				color: $main-color;
			}
		}
	}
}

.ui.active.empty.selection.dropdown {
	border-radius: 4px;
	-webkit-box-shadow: none;
			box-shadow: none;
  }
  .ui.active.empty.selection.dropdown .menu {
	border: none;
	-webkit-box-shadow: none;
			box-shadow: none;
  }