.field-wrap {
    width: 100%;
    .field {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form.user-form,
.form.main-form {
    @media only screen and (max-height: 600px) {
        padding: 30px 0; 
    }
    @media only screen and (min-height: 600px) {
        padding: 65px 0 30px; 
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: auto;
    .field {
        width: 100%;
    }

    .button[type=submit],
    .button[type=button] {
        margin: 30px 0 0;
        min-width: 160px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing:.2px;
    }
    
    h3 {
        font-size: 1.5em;
        margin-bottom: 25px;
        text-align: center;
    }
    .shrink {
        &-wrap {
            position: relative;
            margin-top: 25px;
            .check {
                max-width: 300px;
            }
            .shrink {
                display: none;
            }
            .ui.button {
                right: 0;
                top: -6px;
                position: absolute;
                margin: 0;
            }
            &.active {
                .shrink {
                    display: block;
                    margin: 20px 0;
                    animation: fadeIn .5s;
                }
                .ui.button {
                    position: relative;
                    margin: 25px 0 0 auto;
                }
            }
        }
    }
}


.field,
.textarea-wrap {
    .error-message {
        display: none;
        position: absolute;
        right: 0;
        margin-right: 5px;
        background-color: $err-red;
        padding: 0 5px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 12px;
        color: $white;
        z-index: 5;
    }
    &.error,
    .error {
        position: relative;
        .error-message {
            display: flex;
        }
        .input {
            &:focus {
                border: 1px solid $err-red;
            }
        }
    }
}
.textarea-wrap {
    .error-message {
        margin-top: 2px;
    }
}

.user-form {
    .ui.right.button {
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }
    }
}

.main-form {
    .visible.transition {
        display: block !important;
    }
    .dropdown {
        &.assets-tokens-dropdown {
            max-width: 150px;
            min-width: 150px;
        }
        &.icon {
            color: $bd-gray;
        }
    }
    &.ui.form {
        textarea {
            resize: none;
        }
    }

    label {
        display: flex;
    }
    .action-wrap {
        position: relative;
        transition: margin .3s;
        &.loading {
            &:after {
                width: 14px;
                height: 14px;
                border: 2px solid $green;
                border-top: 2px solid transparent;
                right: 11px;
                top: 0;
                bottom: 0;
                border-radius: 50%;
                margin: auto;
                content: "";
                position: absolute;
                -webkit-animation: rotating 1s linear infinite;
                -moz-animation: rotating 1s linear infinite;
                -ms-animation: rotating 1s linear infinite;
                -o-animation: rotating 1s linear infinite;
                animation: rotating 1s linear infinite;
            }
        }
        &.ui.input,
        &.textarea-wrap
        {
            &.error {
                textarea {
                    border-color: $err-red;
                }
                .error-message {
                    top: 99%;
                }
            }
            input {
                padding-right: 30px;
            }
        }

        .value-status {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            display: flex;
            align-items: center;
            width: 25px;
        }
    }
    .form-panel {
        display: flex;
        align-items: center;
        margin: 15px 0 0;
        .button[type=submit],
        .button[type=button] {
            white-space: nowrap;
            margin: 0 0 0 auto;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        .total-sum {
            span {
                margin-left: 5px;
                color: $orange;
            }
        }
    }
    .field-wrap {
        .field {
            .ui.input {
                &.focused {
                    .assets-tokens-dropdown {
                        border-color: $inut-hover;
                        position: relative;
                        &:before {
                            top: -5px;
                            bottom: -5px;
                            right: -5px;
                            left: 0;
                            position: absolute;
                            display: block;
                            content: "";
                            border: 4px solid rgba($inut-color, .4);
                            border-left: 0;
                            border-radius: 0.5rem;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }
                &.error {
                    .assets-tokens-dropdown,
                    .amount {
                        border-color: $err-red;
                    }
                }

                .amount {
                    width: 100%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    clip-path: inset(-5px 0px -5px -5px);

                    &-wrap {
                        width: 100%;
                        position: relative;
                        display: flex;
                        &:hover {
                            & + .assets-tokens-dropdown {
                                border-color: $inut-hover;
                            }
                        }
                        &:after {
                            width: 1px;
                            background: #fff;
                            content: "";
                            height: 10px;
                            position: absolute;
                            right: 0;
                            top: 1.2px;
                            z-index: 2;
                        }
                        &:before {
                            width: 1px;
                            background: #fff;
                            content: "";
                            height: 10px;
                            position: absolute;
                            right: 0;
                            bottom: 1px;
                            z-index: 2;
                        }
                    }

                }
            }
        }
    }
}

.ui.input.label-in-left {
    display: flex;
    position: relative;
    max-width: 350px;
    width: 100%;
    input {
        min-width: 360px;
        padding-right: 55px;
    }
    .label {
        color: $bd-gray;
        font-size: 1em;
        position: absolute;
        left: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: table;
        line-height: 38px;
    }
    .edit-option {
        top: 9px;
        height: 20px;
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        border: 0;
        background-color: transparent;
        color: #d6d9df;
        transition: color .3s;
        cursor: pointer;
        &:hover,
        &:focus {
            color: #aeb4c0;
        }
        &.icon-edit-checked {
            right: 20px;
        }
        &.icon-edit-close {
            right: 0;
        }
    }
}


.error {
    &-wrap {
        position: relative;
        margin-bottom: 25px;
        &.error {
            .error-message {
                display: block;
            }

            input, textarea {
                border-color: $err-red !important;
            }


        }
    }
    &-message {
        display: none;
        position: absolute;
        right: 0;
        margin-right: 5px;
        background-color: $err-red;
        padding: 0 5px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 12px;
        color: $white;
        animation: fadeIn .3s;

    }
}

input {
    &:focus {
        @extend %onFocus;
    }
}
