.action-link {
    font-size: 14px;
	font-family: proxima;
	font-weight: 600;
    color: rgb(77, 102, 205);
    line-height: 1.214;
	cursor: pointer;
	border-radius: 4px;
    padding: 1px 3px 0;
    margin-left: -3px;
	&:focus {
		@include on-focus(2px);
	}
}
