.list {
    &-amount {
        display: flex;
        align-items: center;
        color: $black;
        text-transform: none;
        font-size: 1.1em;
        font-family: proxima;
        li {
            height: 10px;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                &:after {
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: $bd-gray;
                        display: block;
                        margin: 0 10px;
                }
            }
            &:last-child {
                span {
                    margin-left: 4px;
                    color: $orange;
                    cursor: pointer;
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.ui {
    &.selection {
        &.assets-tokens-dropdown  {
            .menu {
                .disabled {
                    &.header {
                        opacity: 1;
                    }
                }
            }
            &:hover,
            &:active,
            &:focus {
                border-color: $bd-gray;
                cursor: pointer;
            }
            &.active {
                box-shadow: none;
                border-color: $bd-gray;
                .menu {
                    box-shadow: none;
                    border-color: $bd-gray;
                }
                &:hover,
                &:active,
                &:focus {
                    box-shadow: none;
                    border-color: $bd-gray;
                    border-bottom: 1px solid $bd-gray;
                    .menu {
                        box-shadow: none;
                        border-color: $bd-gray;
                    }
                }
            }
        }
    }
}
    
    
.addition {
    display: none !important;
}
.assets-tokens-dropdown {
    &.ui.dropdown {
        display: flex;
        align-items: center;
        border: 1px solid $bd-gray;
        border-left: 0;
        padding: 0.67857143em 1em;
        transition: border .3s;
        align-self: flex-start;
        min-height: 38px;
        &.active {
            &:not(.no-choice) {
                border-bottom-right-radius: 0 !important;
            }
            .filtered {
                display: none;
            }
        }
        .dropdown.icon {
            padding-left: 1em;
        }
        &.no-choice {
            & > input.search {
                &:focus {
                    & + .text {
                        color: $orange;
                    }
                }
            }
        }
        & > input.search {
            padding-right: 28px;
            transition: color .3s;
        }
        .menu {
            max-height: 212px;
            width: 151px;
            max-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 1px solid $bd-gray;
            & > .header {
                height: 30px;
                margin: 0;
                background-color: transparent;
                border: 0;
                color: $bd-gray;
            }
        }
    }
}
.contract-type-dropdown {
    &.ui.dropdown {
        display: flex;
        align-items: center;
        border: 1px solid $bd-gray;
        padding: 3px 1em;
        transition: border .3s;
        align-self: flex-start;
        min-height: 15px;
        width: 120px;
        .dropdown.icon {
            font-size: 12px;
            padding: 4px;
        }
        .text {
            margin-top: 1px;
        }
        .menu {
            .item {
                margin: auto;
                padding-bottom: 7px;
                padding-top: 7px;
                &.disabled {
                    &.header {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.fee-dropdown {
    &.ui.dropdown {
        display: flex;
        align-items: center;
        border: 0;
        border-left: 0;
        padding: 0 0 0 5px;
        transition: border .3s;
        text-align: right;
        min-width: auto;
        min-height: auto;
        
        
        &.no-choice {
            &.active {
                & > .text {
                    cursor: pointer;
                    color: $orange;
                    text-decoration: underline;
                }
            }
        }
        & > .text {
            margin-right: 5px;
            color: $orange;
        }
        .dropdown.icon {
            font-size: 12px;
            position: relative;
            top: auto;
            right: auto;
            margin: -3px 0 0 0;
            padding: 0;
        }
        &.active {
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
        .menu {
            left: auto;
            right: 0;
            top: 20px;
            max-height: 212px;
            width: 151px;
            max-width: 151px;
            margin-left: -1px;
            overflow: auto;
            border-radius: 0.28571429rem;
            border-top: 1px solid #96C8DA;
        }
    }
}

.watchlist {
    margin: 30px 0;
    &-line {
        display: block;
        &:not(:last-child) {
            margin: 0 0 12px 0;
        }
    }
    &-row {
        display: flex;
        align-items: center;
        &--h {
            display: flex;
        }
        span {
            font-size: 1.1em;
            color: $black;
            letter-spacing: -.2px;
            &:not(:last-child) {
                &:not(.comma) {
                    margin-right: 5px;
                }
            }
        }
        .type {
            margin-left: 10px;
        }
        .value {
           &.blue {
               color: $blue;
           }
        }
        .input.mini.ui {
            input {
                height: 26px;
                font-size: 14px;
                min-width: 260px;
            }
        }
        .button.mini.ui {
            height: 26px;
            font-size: 12px;
            line-height: 10px;
            margin-left: 10px;
        }
    }
    &-embed {
        padding: 10px 30px 0;
    }
    &-col {
        &:first-child {
            display: flex;
            height: 27px;
            align-items: center;
            margin: 0 5px 0 0;
            align-self: flex-start;
        }
        &:last-child {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            .item {
                &.air {
                    margin-right: 10px;
                }
                &.value {
                    line-height: 25px;
                    margin-bottom: -1px;
                }
                margin-top: 10px;
                display: inline-block;
                min-height: 24px;
            }
        }

    }
    .icon-dotted {
        color: $gray;
        font-size: 18px;
        margin: 2.5px 5px 0 5px;
        display: inline-block;

        & + .type {
            margin-top: 10px;
            display: inline-block;
        }
    }

    .comma {
        margin: 0 10px 0 2px;
    }

    .row-title {
        & + .input.mini.ui {
            margin-left: 10px;
        }
    }
    .order {
        min-width: 14px;
    }
    .order + .arrow,
    .type {
        color: $gray;
    }
    .type {
        font-style: italic;
    }
}

.ui.dropdown {
    &.no-choice {
        cursor: auto;
        input.search {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .menu {
            display: none !important;
        }
        .dropdown.icon {
            display: none;
        }
    }
}

.overview-list,
.logs-list {
    li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .col {
            font-size: 15px;
            &.data {
                font-style: italic;
            }
            &:nth-child(1) {
                margin-right: 40px;
                color: #aeb4c0;
            }
            &:nth-child(2) {
                max-width: 500px;
                width: 100%;
            }
        }
    }
    .bytecode {
        &-wrap {
            background-color: #f9f9f9;
            border: 1px solid $bd-gray;
            padding: 10px 5px;

        }
        padding: 0 5px;
        max-height: 400px;
        overflow: auto;
        word-wrap: break-word;
        font-size: 13px;
    }
    .ui.button {
        margin-top: -6px;
    }
    .topic-item,
    .data-item, {
        max-width: 620px;
        word-wrap: break-word;
        display: block;
        @media (max-width: 900px){
            max-width: 480px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .num,
        .arrow {
            margin-right: 3px;
        }

    }
}

.logs-list {
    li {
        .col {
            &:nth-child(2) {
                font-family: source;
                font-size: 14px;
                max-width: 620px;
                color: $black;
            }
        }
    }
}
