.modal {

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 250px;
        width: 100%;
        padding: 50px 20px;
        position: relative;

        .icon-close {
            width: 35px;
            height: 35px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #c4c5ca;
            transition: color .3s;

            &:hover {
                color: #6d7178;
            }
        }
    }

    .form.main-form {
        padding: 0;

        .button[type=submit],
        .button[type=button] {
            margin: 30px 0 0;
        }


        .form-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            .button[type=submit],
            .button[type=button] {
                margin: 0;
            }
            .action-link + .main-btn {
                margin: 0 0 0 auto;
            }

        }
    }

    &.choose-account {
        width: 600px;

        padding-top: 35px;
        background-color: transparent;

        .modal-content {
            transform: translateY(-35px);
            background: #FFFFFF;
            padding: 33px 20px 45px 20px;

            .form-info {
                margin-bottom: 23px;
            }
        }
    }

    &.wipe-data {
        .main-form {
            max-width: 468px;
            margin: auto;
        }

        .form-info {
            margin-bottom: 18px;
        }

        .form-info-description {
            font-size: 15px;
            font-family: proxima;
            font-weight: 400;
            line-height: 1.467;
            color: rgba(59, 59, 59, 0.8);
            line-height: 1.429;
            text-align: center;
            margin: 0 auto 42px;
        }

        .check-list {
            margin: auto;
        }
        .form-panel {
            justify-content: flex-end;

            .main-btn {
                min-height: 37px;
                min-width: 160px;
            }
        }
    }

    .accounts-list {
        width: 500px;
        border: 1px solid #babccb;
        border-radius: 4px;
        margin-bottom: 5px;

        &_header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 24px;
            border-bottom: 1px solid #f1f1f1;
            height: 37px;

            .check-container {
                display: flex;
                align-items: center;

                .txt {
                    font-weight: 600;
                    color: rgba(92, 99, 125, 0.5);
                    font-size: 12px;
                }

                .check {
                    .label {

                        &-text {
                            font-weight: 600;
                            color: rgba(92, 99, 125, 0.5);
                            font-size: 12px;
                        }

                        &:before {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .sort-icon {
                    margin-left: 4px;
                }
            }
        }

        &_list {
            padding-left: 15px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 30px;
            max-height: 255px;
            overflow: auto;

            &::-webkit-scrollbar {

                width: 7px;

            }

            *

            /* Track */
            * &::-webkit-scrollbar-track {

                background: transparent;

            }

            *

            /* Handle */
            * &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .1);

            }

            *

            /* Handle on hover */
            * &::-webkit-scrollbar-thumb:hover {

                background: #555;

            }

            .line {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .label {
                    &:before {
                        margin-right: 11px;
                    }

                    &-text {
                        font-size: 15px;
                        // color: #3b3b3b;
                    }
                }

                .value {
                    font-size: 15px;
                    font-weight: 600;
                    color: #5c637d;
                }
            }
        }
    }
}

.modals {
    &.ui.dimmer {
        background-color: rgba(#cacccf, .9);
    }
}

.modal.confirm-transaction {
    .field-block {
        &_title {
            display: flex;
            justify-content: space-between;
            min-height: 20px;
            color: #adb1be;
            font-size: 0.75857143em;
            font-family: proximanovaSemibold;
            text-transform: uppercase;
            margin: 0;
        }

        &_edit {
            line-height: 1.21428571em;
            padding: 0.67857143em 1em;
            font-size: 1em;
            background-color: #fff;
            border: 1px solid #dddddd;
            color: rgba(0, 0, 0, 0.87);
            border-radius: 0.28571429rem;
            background-color: rgba(233, 233, 237, 0.5);
            transition: background-color 0.3s;

            span::-webkit-selection {
                background-color: rgba(100, 100, 100, 0.4);
                color: rgba(0, 0, 0, 0.87);
            }

            span::-moz-selection {
                background-color: rgba(100, 100, 100, 0.4);
                color: rgba(0, 0, 0, 0.87);
            }

            span::selection {
                background-color: rgba(100, 100, 100, 0.4);
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
}