.modal {

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 250px;
        width: 100%;
        padding: 50px 20px;
        position: relative;
        .icon-close {
            width: 35px;
            height: 35px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #c4c5ca;
            transition: color .3s;
            &:hover {
                color: #6d7178;
            }
        }
    }
    .form.main-form {
        padding: 0;
        .button[type=submit],
        .button[type=button] {
            margin: 30px 0 0;
        }
        .form-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            .button[type=submit],
            .button[type=button] {
                margin: 0;
            }
        }

    }
}

.modals {
    &.ui.dimmer {
        background-color: rgba(#cacccf,.9);
    }
}
