.modal {

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 250px;
        width: 100%;
        padding: 50px 20px;
        position: relative;
        .icon-close {
            width: 35px;
            height: 35px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

.modals {
    &.ui.dimmer {
        background-color: rgba(white,.6);
    }
}
