.nav-popup {
	visibility: hidden;
	position: absolute;
	left: calc(100% + 7px);
	top: 50%;
	transform: translateY(-50%);
	padding: 4px 7px;
	color: white;
	background-color: #5C637D;
	border-radius: 0 3px 3px 0;
	font-family: proxima;
	font-size: 16px;
	pointer-events: none;
	white-space: nowrap;

	&:before {
		content: '';
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 13.5px 7px 13.5px 0;
		border-color: transparent #5C637D transparent transparent;
		position: absolute;
		right: 100%;
		top: 0;
		pointer-events: none;
	}
}