$thead-height: 46px;

.table.table-activity {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    height: calc(100vh - 100px);
    overflow: auto;
    @media (min-width: 1060px){
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 46px 0 0 0;
        height: calc(100vh - 146px);
    }
    border: 0;
    border-radius: 0;
    thead {
        width: 100%;
        background-color: #fff;
        @media (min-width: 1060px){
            overflow-y: scroll;
            position: fixed;
            overflow-x: hidden;
            margin-top: -($thead-height);        

        }
        th {
            background:0;
            color: $gray;
            padding: 0.92857143em 5px;
        }
    }

    // WIDTH OF CELLS

    th, td {
       min-width: 10vw;
        &:first-child {
            min-width: 21vw;
            padding-left:  0.92857143em;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .ellips {
                max-width: 12vw;
            }
            min-width: 13vw;
        }
        &:nth-child(5) {
            min-width: 18vw;
            .ellips {
                max-width: 16.5vw;
            }
            @media (max-width: 1200px){
                text-align: right;
            }
        }
        &:nth-child(6) {
            @media (max-width: 1200px){
                text-align: center;
            }
        }
        &:last-child {
            min-width: 12vw;
            text-align: right;
            padding-right:  1.7em;
        }
    }

    tbody {
        tr {
            transition: background-color .3s;
            &:nth-child(2n) {
                &:hover {
                    background-color: $orange;
                }
            }
            &:hover {
                background-color: $orange;
                .label-operation {
                    border-right: 1px solid #fff;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
                td {
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        color:#fff9b5;
                    }
                    &:nth-child(5),
                    &:last-child,
                    .success,
                    .fall {
                        color: #fff;
                    }
                    
                }
            }
            td {
                border-top: 0;
                transition: color .3s;
                padding: 0.82857143em 5px;
                .success,
                .fall {
                    transition: color .3s;
                }
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    color: $blue;
                    font-weight: 600;
                }
                &:nth-child(5) {
                    color: $gray-dark;
                    font-weight: 600;
                }
                &:last-child {
                    color: $gray;
                    span {
                        display: block;
                    }
                }
            }
        }
    }

}
.ellips {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}  

.table-assets {
    .thead, 
    .tbody {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        margin: 0;
        border: 0;
        border-radius: 0;
        tr {
            display: flex;
        }
        td {
            min-width: 50%;
        }
    }
    .thead {

        td {
            height: 80px;
            display: flex;
            align-items: center;
        }
    }
    .tbody {
        border-bottom: 1px solid $bd-gray;
    }
}
