.tab-full {
    .scroll-fix {
        max-height: calc(100vh - 195px);
        overflow: overlay;
    }
    &.hide-menu {
        .scroll-fix {
            max-height: calc(100vh - 155px);
        }
        .menu {
            display: none;
        }
    }
 
    .control {
        &-wrap {
            background-color: rgb(247, 247, 247);
            width: 100%;
            border-top: 1px solid $bd-gray;
        }
        &-panel {
            max-width: 900px;
            margin: auto;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            height: 54px;
            .error-wrap {
                margin-bottom: 0;
            }
            li {
                &:not(:last-child){
                    margin-right: 40px;
                }
                &.id {
                    display: flex;
                    align-items: center;
                }
                &.name {
                    display: flex;
                    align-items: center;
                    margin-right: auto;
                }
            }
            .label {
                color: $gray;
                margin-right: 8px;
            }
            .value {
                &.ui.button {
                    i {
                        margin: -5px 0 0 5px !important;
                        color: $gray;
                        transition: color .3s;
                        display: block;
                        font-size: 14px;
                    }
                }
                background-color: transparent;
                color: $link-gray;
                padding: 3px 5px;
                border-radius: 3px;
                display: flex;
                height: 26px;
                align-items: center;
                flex-direction: row-reverse;
                &:focus {
                    @extend %onFocus;
                }

                &:hover {
                    i {
                        color: $link-gray;
                    }
                }

            }
        }
    }

    .ui.tabular.menu {
        border: 0;
        max-width: 900px;
        padding: 0 20px;
        margin: auto;
        border-bottom: 2px solid rgb(247, 247, 247);
        position: relative;

        &:after {
            content: "";
            height: 2px;
            background-color: rgb(247, 247, 247);
            width: 100vw;
            position: absolute;
            bottom: -2px;
            visibility: visible;
        }
        &:before {
            content: "";
            height: 2px;
            background-color: rgb(247, 247, 247);
            width: 80vw;
            position: absolute;
            bottom: -2px;
            right: 100%;
        }
        .item,
        .tab-btn {
            border: 0;
            font-size: .8em;
            font-weight: 600;
            line-height: 0px;
            margin: 0 0 -3px;
            color: $gray;
            border-bottom: 2px solid rgb(247, 247, 247);
            border-radius: 0;
            margin: 0 0 -2px 0;
            transition: border 0.1s ease;
            padding: 0;
            z-index: 2;
            background-color: transparent;
            &:not(:last-child) {
                margin-right: 35px;
            }
            &.active {
                color: $orange;
                line-height: 0px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                border-bottom: 2px solid;
            }
        }
        .tab-btn {
            span {
                display: block;
                padding: 10px 0 8px;
                position: relative;
            }
            &:focus {
                box-shadow: none;
                span {
                    &:before {
                        content: '';
                        position: absolute;
                        right: -5px;
                        left: -5px;
                        top: 0;
                        bottom: 0;
                        border-radius: 3px;
                        @extend %onFocus;
                    }

                }
            }
            &:active {
                span {
                    &:before {
                        display: none;
                    }
                }
            }

        }

    }
    .ui.tab {
        background-color: #fff;
        border: 0;
    }
    .tab-content {
        max-width: 860px;
        margin: auto;
        padding: 30px 45px 20px; 
        // overflow: initial;
        overflow: -webkit-paged-x;

    }
}

.tab-content {
    .form.user-form,
    .form.main-form {
        padding: 0;
    }
    .watchlist {
        margin: 0
    }
}