$thead-height: 46px;

.sort {
	display: flex;
	flex-direction: column;
	max-width: 10px;
	margin: -2px 0 0 5px;
	border: 0;
	background: none;

	i {
		margin: 0;
		width: 10px;
		line-height: 8px;
		font-size: 4px;
		opacity: .4;
		transition: opacity $speed;
		&.active {
			color: $link-gray;
			opacity: 1;
		}
	}
	&-wrap {
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			.sort {
				i {
					opacity: 1;
				}
			}
		}
	}
}

.table {

    &.table-activity {

        display: flex;
        flex-direction: column;
        margin: 0;
        height: calc(100vh - 120px);
        overflow-y: overlay;
        overflow-x: hidden;
        @media (min-width: 840px){
            overflow-y: overlay;
            overflow-x: hidden;
            margin: 46px 0 0 0;
            height: calc(100vh - 166px);
        }
        border: 0;
        border-radius: 0;
        thead {
            width: 100%;
            background-color: #fff;

            @media (min-width: 840px) {
                overflow-y: overlay;
                position: fixed;
                overflow-x: hidden;
                margin-top: -44px;

            }
            @media (min-width: 1200px){
                margin-top: -46px;
            }
            th {
                background:0;
                color: $gray;
                padding: 0.92857143em 5px;
                @media (min-width: 840px) and (max-width: 1200px)  {
                    &:last-child {
                        position: relative;
                        &:after {
                            width: 100px;
                            height: 1px;
                            background-color: #e9e9ed;
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -1px;
                            right: -50px;
                        }
                    }
                }
            }
        }

        // WIDTH OF CELLS

        th, td {
            min-width: 11vw;
            padding: 0.82857143em 5px;
            @media (max-width: 980px) {
                font-size: .9em;
            }
            @media (max-width: 1200px) {
                font-size: .95em;
            }
            &:first-child {
                min-width: calc(21vw - 30px);
                padding-left:  20px;
                @media (max-width: 1200px) {
                    min-width: calc(23vw - 30px);
                }
            }

            &:nth-child(2) {
                @media (max-width: 980px) {
                    min-width: 12vw;
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                .ellips {
                    max-width: 12vw;
                }
                min-width: 13vw;
                @media (max-width: 1200px) {
                    min-width: 11vw;
                    .ellips {
                        max-width: 10vw;
                    }
                }
            }


            &:nth-child(5) {
                min-width: calc(18vw - 30px);
                .ellips {
                    max-width: 14vw;
                }
                @media (max-width: 1200px){
                    min-width: calc(18vw - 15px);
                    max-width: calc(18vw - 15px);
                    text-align: right;
                    .ellips {
                        margin-left: auto;
                        max-width: 13vw;
                    }
                }
            }

            &:nth-child(6) {
                max-width: 11vw;
                @media (max-width: 1200px){
                    text-align: right;
                    max-width: 13vw;
                    min-width: 13vw;
                }
            }
            &:last-child {
                text-align: right;
                padding-right:  20px;
                @media (max-width: 1200px) {
                    letter-spacing: -.2px;
                }
            }
        }

        tbody {
            overflow-x: hidden;
            overflow-y: overlay;
            tr {
                transition: background-color .3s;
                &:nth-child(2n) {
                    background-color: #fafafa;
                    &:hover {
                        background-color: $main-сolor;
                    }
                }
                &:hover {
                    background-color: $main-сolor;
                    .label-operation {
                        border-right: 1px solid #fff;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                    td {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            color:$yellow;
                        }
                        &:nth-child(5),
                        &:nth-child(6) {
                            color: #fff;
                        }
                        &:last-child,
                        .success,
                        .fall {
                            color: #fff;
                        }

                    }
                }
                td {
                    border-top: 0;
                    transition: color .3s;

                    .success,
                    .fall {
                        transition: color .3s;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        color: $main-сolor;
                    }
                    &:nth-child(5),
                    &:nth-child(6) {
                        color: $gray-dark;
                    }
                    &:last-child {
                        color: $gray;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &.table-smart-contract {

        display: flex;
        flex-direction: column;
        margin: 0;
        height: calc(100vh - 176px);
        overflow-x: hidden;
        border: 0;
        border-radius: 0;

        @media (min-width: 1060px) {
            margin: 46px 0 0 0;
            height: calc(100vh - 222px);
        }

        thead {
            width: 100%;
            background-color: #fff;
            @media (min-width: 1060px){
                position: fixed;
                overflow-x: hidden;
                margin-top: -($thead-height);

            }
            th {
                background:0;
                color: $gray;
                padding: 0.92857143em 5px;
            }
        }

        // WIDTH OF CELLS
        tr {
            th, td {
                &:first-child {
                    min-width: 25vw;
                    padding-left:  20px;
                }

                &:last-child {
                    min-width: calc(75vw - 1px);
                    padding-right:  20px;
                }
            }
        }


        tbody {
            tr {
                transition: background-color .3s;

                &:nth-child(2n) {
                    &:hover {
                        background-color: $main-сolor;
                    }
                }
                &:hover {
                    background-color: $main-сolor;
                    td {
                        color: #fff;
                    }
                }
                td {
                    border-top: 0;
                    transition: color .3s;
                    padding: 0.82857143em 5px;
                    color: $black;
                    &:last-child {
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &.main-table {

        thead {
            th {
                padding: 0 18px;


                height: 30px;
                font-family: proximanovaSemibold;
                color: rgba(173, 177, 190, 1);
                font-size: .88em;

            }
        }
        tbody {
            tr {
                transition: background-color $speed;
                &:nth-child(2n-1) {
                    background-color: #f5f5f6;
                }
				.voted {
					text-align: center;
				    font-size: 16px;
					position: relative;
					&-wrap {
						display: flex;
						align-items: center;
					}
					&:before {
						position: absolute;
						right: 0;
						left: 0;
						top: 6px;
						bottom: 0;
						margin: auto;
					}


				}
				.btn-lock {
					min-width: 54px;
					height: 28px;
				}

				.ui.basic {
					height: 28px;
				}
				.ui.main-btn,
				.voted {
					height: 28px;
					min-width: 60px;

					& + .button {
						margin-left: 20px;
						color: rgba(#5D637B, .7);
					}
				}
                &:hover {
                    background-color: $main-сolor;
                    td {
                        color: rgba(#fff, 1);
                        &:last-child {
                            &:not(:first-child ) {
                                color: $yellow;
                            }
                        }
                    }
					.btn-lock,
                    .icon-e-show,
                    .icon-e-hide {
                        color: $yellow;
                    }

                    .key-input {
                        color: $yellow;
                    }

                    .key-show {
                        .key {
                            color: $yellow;
                        }
                    }
					.link {
						color: $yellow;
					}
					.ui.main-btn,
					.voted {
						& + .button {
							color: $yellow;
						}
					}
					.ui.main-btn {
						border: 1px solid #fff;
						color: #fff;
					}
                }
            }
        }

        td {
            padding: 5px 18px;
            min-height: 30px;
            font-size: 1em;
            font-family: proximanovaSemibold;
            color: rgba(92, 99, 125, 1);
            transition: color $speed;

            @media (max-width: 1200px){
                font-size: .9em;

            }
            @media (max-width: 980px){
                letter-spacing: -.1px;
                padding-right: 9px;
                padding-left: 9px;
            }
            &:last-child {
                &:not(:first-child ) {
                    transition: color $speed;
                    color: $main-сolor;
                }
            }
            .cell-wrap {
                display: flex;
                align-items: center;
            }

            .icon {
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }
            .key-input {
                background-color: transparent;
                border: 0;
                width: 100%;
                color: $main-сolor;
                transition: color $speed;
                font-size: .85em;
                letter-spacing: -.2px;
                &:focus {
                    background-color: transparent;
                    box-shadow: none;

                }
            }
            .icon-e-show,
            .icon-e-hide {
                color: rgba(173, 177, 190, 1);
                transition: color $speed;
                margin-right: 8px;
                vertical-align: middle;
            }
        }

    }

}

.ellips {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .text-bold {
        font-family: proximanovaSemibold;
        & + span {
            margin-left: 4px;
        }
    }
}


.ui {


    .table-assets,
    .table-tokens {

        width: 100%;
        max-width: 600px;
        td {
            padding: 5px 0.78571429em;
        }
        .thead,
        .tbody {
            display: flex;
            flex-direction: column;
            overflow-y: overlay;
            border: 0;
            border-radius: 0;
            max-width: 1000px;
            margin: auto;
            tr {
                display: flex;
                td {
                    width: 50%;
                    &:first-child {
                        padding-left: 20px;
                    }
                    &:last-child {
                        padding-right: 20px;
                    }
                }
            }

        }

        .thead {
            border: 1px solid $bd-gray;
            &-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 25px;
                margin: 10px 0;
                .table-title {
                    font-size: 1.2em;
                    color: $black;
                }
            }
            &-wrap {
                position: relative;
                max-width: 1000px;
                margin: auto;
            }

            td {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: $gray;
                font-size: .9em;
                font-family: proximanovaSemibold;
                margin-top: auto;
                &:last-child {
                    align-items: flex-end;

                }
            }
        }
        .tbody {
            height: calc(100vh - 230px);
            border-left: 1px solid $bd-gray;
            border-right: 1px solid $bd-gray;
            border-bottom: 1px solid $bd-gray;

            .icon-close {
                font-size: 14px;
                cursor: pointer;
                opacity: 0;
                width: 0;
                margin: 0;
            }
            tr {
                transition: background-color .3s;
                &:nth-child(2n-1) {
                    background-color: #f5f5f6;
                }
                td {
                    border: 0;
                    display: flex;
                    transition: color .3s;
                    padding: 0 0.78571429em;
                    min-height: 30px;
                    align-items: center;
                    &:first-child {
                        color: $main-сolor;
                        line-height: 30px;
                        font-family: proximanovaSemibold;
                    }
                    &:last-child {
                        justify-content: flex-end;
                        color: $text-dark;
                        font-family: proximanovaSemibold;
                        font-size: .95em;
                    }
                }
                &.msg-empty {
                    background-color: transparent;

                    td {
                        width: 100%;
                        min-height: 100px;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }

            tr,tr:nth-child(2n-1) {
                &:not(.msg-empty):hover {
                    background-color: $main-сolor;
                    .icon-close {
                        display: inline-block;
                        opacity: 1;
                        width: auto;

                    }
                    td {
                        &:nth-child(1) {
                            color:$yellow;
                        }
                        color: #fff;
                    }
                }
            }

        }
    }
}
.table-assets {
    margin-right: 10px;
}

.table-tokens {
    margin-left: 10px;
    .tbody {
        tr {
            &:hover {
                td {
                    &:nth-child(2) {
                        padding-right: 10px;
                    }
                    &:last-child {
                        display: flex;
                        max-width: 34px;
                        justify-content: center;
                        align-items: center;
                        animation: fadeIn .4s;
                        padding-right: 20px;
                    }
                }
            }
            td {
                &:nth-child(2) {
                    justify-content: flex-end;
                    white-space: nowrap;
                    padding-right: 20px;
                    color: $text-dark;
                    font-family: proximanovaSemibold;
                    font-size: .95em;
                    line-height: 30px;
                    transition: color $speed;
                }
                &:last-child {
                    display: none;
                }
            }
        }
    }

}


.msg-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15vh 20px;
    h3 {
        color: #9d9d9d;
        font-weight: normal;
        margin-bottom: 10px;
    }
}
