.tab-full {
    .scroll-fix {
		max-height: calc(100vh - 206px);
		height: 100vh;
		overflow: auto;
		position: relative;
    }

    &.hide-menu {
        .scroll-fix {
            max-height: calc(100vh - 166px);
        }

        & > .menu {
            display: none;
        }
    }
	
	.control-wrap {
		background-color: rgb(247, 247, 247);
		width: 100%;
		border-top: 1px solid $bd-gray;
	}
	
	.control-panel {
		max-width: 900px;
		margin: auto;

		@media (max-width: 1200px) {
			margin: 0;
			max-width: 100%;
		}

		display: flex;
		align-items: center;
		padding: 10px 20px;
		height: 45px;

		.error-wrap {
			margin-bottom: 0;
		}

		li:not(:last-child) {
			margin-right: 40px;
		}

		.action-panel {
			margin: 0 0 0 auto;
		}

		.id-panel {
			display: flex;
			align-items: center;
		}

		.balance-panel {
			display: flex;
			align-items: center;
		}

		.balance-wrap {
			display: flex;
			align-items: center;

			.balance {
				color: #5C637D;
				font-weight: 600;
				margin: 0 5px 0 0;
			}

			.coin {
				color: rgba(#5C637D, .9);
				font-weight: 300;
			}
		}


		.name-panel {
			display: flex;
			align-items: center;
			margin: -1px auto 0 0;
		}

		.label {
			color: $gray;
			margin-right: 8px;
			white-space: nowrap;
		}

		.value {
			background-color: transparent;
			color: $link-gray;
			padding: 3px 5px;
			border-radius: 3px;
			display: flex;
			height: 26px;
			align-items: center;

			&.button {
				text-transform: none;

				&:hover {
					.icon-edit {
						color: rgb(137, 140, 145);
					}
				}

				.icon-edit {
					margin: 0 0 0 5px;
					color: rgb(178, 180, 183);
					transition: color .3s;
					display: block;
					font-size: 14px;
					transition: color $speed;
				}
			}

			&:focus {
				@include on-focus(4px);
			}

			&:hover {
				i {
					color: $link-gray;
				}
			}
		}
    }

    & > .menu {
		min-height: 40px;
		display: flex;
        border: 0;
        max-width: 900px;
        padding: 0 20px;
        margin: auto;
        border-bottom: 2px solid rgb(247, 247, 247);
        position: relative;

        @media (max-width: 1200px) {
            margin: 0;
            max-width: 100%;
        }

        &:after {
            content: "";
            height: 2px;
            background-color: rgb(247, 247, 247);
            width: 100vw;
            position: absolute;
            bottom: -2px;
            visibility: visible;
        }

        &:before {
            content: "";
            height: 2px;
            background-color: rgb(247, 247, 247);
            width: 80vw;
            position: absolute;
            bottom: -2px;
            right: 100%;
        }

        
    }

    .tab {
        background-color: #fff;
		border: 0;
		
    }

    .tab-content {
        max-width: 860px;
        margin: auto;
        padding: 20px 45px 60px;

        @media (max-width: 1200px) {
            margin: 0;
            max-width: 100%;
        }
	}
}

.tab-content {
    .form.main-form {
        padding: 0;
    }

    .watchlist {
        margin: 0
	}
	
	.table-key-value {
		width: 100%;
		max-width: 612px;
	}
}



.tab-btn {
	border: 0;
	font-size: 12px;
	color: rgb(168, 168, 168);
	border-bottom: 2px solid transparent;
	border-radius: 0;
	transition: border $speed ease, color $speed ease;
	padding: 0;
	z-index: 2;
	margin: 5px 0 -2px;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	font-family: proxima;
	font-weight: 600;
	&:not(:last-child) {
		margin-right: 36px;
	}

	&:hover {
		color: $gray;
		border-bottom: 2px solid rgb(211, 214, 220);
	}

	&.active {
		color: $main-color;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border-bottom: 2px solid;
	}

	&:focus {
		box-shadow: none;
		&:before {
			content: '';
			position: absolute;
			right: -4px;
			left: -4px;
			top: 8px;
			bottom: 10px;
			border-radius: 3px;
			@include on-focus(2px);
		}
	}

	&:active {
		&:before {
			box-shadow: none;
		}
	}
}