textarea {
	width: 100%;
	vertical-align: top;
	margin: 0em;
	-webkit-appearance: none;
	tap-highlight-color: rgba(255, 255, 255, 0);
	padding: 0.78571429em 1em;
	background: #FFFFFF;
	border: 1px solid $inut-color;
	outline: none;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 4px;
	box-shadow: 0em 0em 0em 0em transparent inset;
	transition: color $speed ease, border-color $speed ease;
	line-height: 1.2857;
	resize: none;
	height: 10em;
	min-height: 8em;
	max-height: 24em;
}