.permissions-wrap {
	position: relative;
	height: calc(100vh - 121px);
	overflow: auto;
	
	.sub-header {
		justify-content: space-between;
	}

	.info-text {
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
		color: #3B3B3B;
		margin-top: 30px;
		padding-right: 100px;
		
		& + .list-wrap {
			margin-top: 38px;
		}
	}
	.edit-panel-wrap {
		.button {
			width: 73px;
			padding: 0;
		}
	}
}

.view-mode-wrap,
.edit-mode-wrap {

	.list-header-title {
		font-size: 20px;
		line-height: 26.4px;
		color: #5C637D;
		font-weight: 500;
		margin: 0;
	}

	.list-header {
		display: flex;
		align-items: baseline;
	}

	.list-header-info {
		display: flex;
		align-items: center;
		margin-left: auto;

		.icon-info {
			color: #AEB4C0;
			font-size: 12px;
			margin-right: 6px;

			&:hover {
				color: #5C637D;
			}
		}
		.threshold {
			font-size: 12px;
			font-family: proximaNovaSemibold;
			color: #AEB4C0;
			line-height: 26.4px;
			text-transform: uppercase;
			margin-right: 9px;
		}
		.threshold-value {
			color: #3B3B3B;
			font-size: 15px;
			line-height: 16px;
			font-weight: 500;
		}
	}

	.list-header-advanced {
		color: rgba(#3B3B3B, .5);
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		margin-left: 10px;
	}

	.list-description {
		margin-top: 6px;
		color: #3B3B3B;
		line-height: 18px;
		font-size: 14px;
		font-weight: 500;
	}

	.list-header-link {
		font-size: 14px;
		color: #4D66CD;
		font-family: proximaNovaSemibold;
		line-height: 18px;
		border-radius: 4px;
		padding: 0 5px;
		&:focus {
			@include on-focus(2px);
		}
	}

	.list-item {
		background-color: #F5F5F6;
		width: 100%;
		display: flex;
		border-radius: 4px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

}

.view-mode-wrap {
	max-width: 600px;
	margin: 0 auto;

	.list-wrap {
		margin-top: 49px;
		
		.list {
			margin-top: 16px;
		}

		.list-item {
			padding: 0 13px;
			align-items: center;
			justify-content: space-between;
			height: 54px;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.list-item-value {
			font-family: proximaNovaSemibold;
			font-size: 14px;
			color: #5C637D;
			line-height: 17px;
		}

		.list-item-weight {
			font-size: 14px;
			font-weight: 500;
			line-height: 21px;
			.weight {
				color: rgba(#5C637D, .7);
			}
			.value {
				margin-left: 6px;
				color: #5C637D;
			}
		}

		.list-item-panel {
			.button {
				width: 94px;
			}
		}
	}
}

.edit-mode-wrap {
	max-width: 999px;
	margin: 13px auto 0;
	padding-left: 19px;
	padding-right: 30px;
	.list-wrap + .list-wrap {
		margin-top: 17px;

		.list-description {
			margin-top: 9px;
			max-width: 600px;
		}
	}
	.list-header-row {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.list-header-col {
		.list-description {
			line-height: 20px;
			padding-bottom: 14px;
			margin-top: 4px;
		}
		&:nth-child(1) {
			padding-right: 50px;
		}
		&:nth-child(2) {
			width: 100%;
			max-width: 181px;
		}
	}
	.list {
		margin: 13px 0 0;
	}
	.list-item {
		justify-content: space-between;
		padding: 13px 16px 15px;

		.remove-btn {
			font-size: 18px;
			margin-top: 12px;
		}
	}
	.list-panel {
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
		.button {
			min-width: 140px;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}

	}

	.list-item-content {
		display: flex;
		width: 100%;
		max-width: 820px;
	}
	.list-item-panel {
		margin-left: 50px;
	}

}


.edit-threshold {
	.field {
		display: flex;
		align-items: center;
		&.error {
			input:hover,
			input:focus,
			input:active,
			input {
				border-color: $err-red;
			}
		}
	}
	.icon-info {
		color: rgb(174, 180, 192);
		font-size: 12px;
		margin-right: 6px;
	}
	.threshold {
		font-size: 12px;
		font-family: proximaNovaSemibold;
		color: rgb(174, 180, 192);
		line-height: 26.4px;
		text-transform: uppercase;
		margin-right: 9px;
	}

	.input {
		height: 24px;
		font-size: 14px;
		color: #3B3B3B;
		padding: 0 10px;
		border-color: #DDDDDD;
	}

	.error-message {
		white-space: nowrap;
		border-radius: 4px;
		top: calc(100% + 3px);
		right: -4px;
		padding-top: 2px;
	}
}

.edit-permissions-wrap {
	display: flex;
	width: 100%;
	position: relative;
	&.echo-rand {
		&:after {
			content: "";
			display: block;
			min-width: 80px;
		}
	}
	.field > label {
		text-transform: none;
		font-size: 12px;
		font-family: proximaNovaSemibold;
		color:rgba( #5C637D, .5);
		min-height: auto;
	}

	input {
		font-family: proximaNovaSemibold;
		font-size: 14px;
		color: #5C637D;
		padding: 0 10px;
		height: 30px;
		border-color: #BABCCB;
		&::placeholder {
			color: rgba(#5C637D, .4);
			opacity: 1;
		}
	}
	
	.field {
		width: 100%;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&.weight-field {
			min-width: 60px;
			max-width: 60px;
		}
	}


}

