.permissions {
    &-table {
        &-wrap {
            margin-bottom: 10px;

            h3 {
                color: rgba(92, 99, 125, 1);
                font-size: 1.4em;
                font-weight: normal;
                line-height: 1;
                letter-spacing: .01px;
                margin-bottom: 8px;
            }

            .description {
                font-size: 13px;
                color: #3b3b3b;
                margin-bottom: 18px;
            }

            .treshhold-input {

                .field {
                    display: inline-flex;
                    align-items: center;

                    input {
                        padding: 4px 10px;
                        font-size: 15px;
                        min-width: 320px;
                        max-width: 320px;
                        
                        &::placeholder {
                            font-size: 15px;
                        }
                    }
                }

                .i-title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #aeb4c0;
                    margin: 0;
                    flex-shrink: 0;
                    margin-right: 11px;
                }
            }

            .btn-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .edit-row-btn {
                cursor: pointer;
                background-image: url(../images/ic-edit.svg);
                background-size: 19px 19px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                background-color: transparent;
                border: none;
                outline: none;
                flex-shrink: 0;
                margin-right: 25px;
            }

            .remove-row-btn {
                cursor: pointer;
                background-image: url(../images/ic-remove.svg);
                background-size: 16px 18px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                background-color: transparent;
                border: none;
                outline: none;
                flex-shrink: 0;
            }

            .save-row-btn, .cancel-row-changes {
                cursor: pointer;
                width: 25px;
                height: 25px;
                opacity: 0.5;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 18px 18px;
                transition: opacity .2s ease-out;
                border: 0;
                outline: none;
                background-color: transparent;
                border-radius: 100px;
                
                &:hover {
                    opacity: 1;
                }
            }

            .save-row-btn {
                background-image: url(../images/ic-save.svg);
                margin-right: 5px;
            }

            .cancel-row-changes {
                background-image: url(../images/ic-cancel.svg);
            }

            .permissions-table {
                thead {
                    tr {
                        th {
                            &:first-child, &:nth-child(2) {
                                width: 35%;
                            }
                        }
                    }
                }

                tr {

                    &.is-edit {
                        background-color: #f5f5f6 !important;

                        td {
                            overflow: visible;
                        }

                        .icon-e-hide, .icon-e-show {
                            color: #adb1be !important;
                        }

                        .key-input {
                            color: #4d66cd !important;
                        }
                        
                        .key-show {
                            .key {
                                color: #4d66cd !important;
                            }
                        }

                        .error-message {
                            left: 0;
                            bottom: -19px;
                        }

                        .field {
                            display: flex;
                        }
                    }
                    
                    td {
                        word-break: break-all;
                        line-height: 17px;
                        padding: 8px 10px;

                        .td-txt {
                            padding-left: 10px;
                        }
                    }

                    .key-show {
                        .key {
                            transition: color 0.3s;
                            color: #4d66cd;
                        }
                    }
                }

                .i-textarea {
                    resize: none;
                    outline: none;
                    line-height: 1.21428571em;
                    padding: 7px 10px;
                    font-size: 1em;
                    background-color: #fff;
                    border: 1px solid #dddddd;
                    border-radius: 0.28571429rem;
                    width: 100%;
                    transition: color 0.3s ease, border-color 0.3s ease;
                    height: 50px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-family: 'proximanovaSemibold';
                    color: #5c637d;
                    &:hover {
                        border-color: #babccb;
                    }

                    &:focus {
                        box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.2), 0 0 0 4px rgba(221, 221, 221, 0.2);
                    }
                }

                .ui.input {
                    outline: none;
                    line-height: 1.21428571em;
                    padding: 7px 10px;
                    background-color: #fff;
                    border: 1px solid #dddddd;
                    color: rgba(0, 0, 0, 0.87);
                    border-radius: 0.28571429rem;
                    width: 100%;
                    transition: color 0.3s ease, border-color 0.3s ease;
                    height: 50px;
                    font-family: 'proximanovaSemibold';
                    font-size: 1em;

                    &:hover {
                        border-color: #babccb;
                    }

                    &:focus {
                        box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.2), 0 0 0 4px rgba(221, 221, 221, 0.2);
                    }
                }

                td {
                    .key-input {
                        font-size: 1em;
                    }
                }

                .key-td {
                    padding-left: 3px;

                    &.edit-i-container {
                        height: 50px;
                        background-color: #fff;
                        border: 1px solid #dddddd;
                        color: rgba(0, 0, 0, 0.87);
                        border-radius: 0.28571429rem;
                        width: 100%;
                        padding-left: 2px;
                        padding-right: 15px;
    
                        .key-input {
                            height: 100%;
                        }
                    }
                }
            }

            .ui.button.main-btn {
                min-width: 100px;
                padding: 6px 10px;
                margin-right: 0;
            }
        }

    }
    &-wrap {
        position: relative;
        padding: 20px;
        // max-width: 1200px;
        // margin: auto;
        height: calc(100vh - 121px);
        overflow: auto;

        .top-btn-container {
            position: absolute;
            right: 30px;
            top: 33px;

            .ui.button.green {
                background-color: #30c998;
                border: 0;
                color: #ffffff !important;
                margin-right: 0;
                min-width: 100px;
                min-height: 25px;
                padding: 6px 10px;
                font-size: 12px;
                box-shadow: 0px 0px 0px 1px #30c998 inset !important;

                &:hover, &:focus {
                    color: #30c998 !important;
                }
            }

            .ui.button.txt-btn {
                color: #4d66cd;
                font-size: 12px;
                padding: 6px 10px;
                margin-right: 25px;
            }
        }

        .field {
            &.error {
                position: relative;

                input {
                    border-color: #ff4848 !important;
                }

                textarea {
                    border-color: #ff4848 !important;
                }

                &.edit-i-container {
                    border-color: #ff4848 !important;
                }
            }

            .error-message {
                border-radius: 3px;
                padding: 2px 5px;
                right: auto;
                left: calc(100% + 10px);
                flex-shrink: 0;
                white-space: nowrap;
            }
        }
    }
    &-info {
        color: $black;
        margin: 10px 0 20px 0;
        max-width: 774px;
        .link {
            font-family: 'proximanovaSemibold'
        }
    }
}