.sign-up {
	.register-info {
		font-size: 14px;
		margin: -10px 0 0;
		line-height: 20px;
		p + p {
			margin: 12px 0 0 0;
		}
	}
	.field-wrap + .accordion {
		margin: 21px 0 0;
	}
	.register-info + .field-wrap {
		margin: 15px 0 0;
	}

	.check-list {
		margin-top: 23px;
	}

	.dropdown {
		.menu {
			.user-item {
				display: flex;
				.name {
					margin-left: 6px;
				}
			}
		}
	}
}
