.page-wrap {
    display: flex;
    justify-content: space-between;

    .form .field:nth-child(2) {
        margin-bottom: 18px;
    }

    @media only screen and (max-width: 1150px) {
        .send-wrap {
            padding: 0 90px;
        }
    }

    @media only screen and (max-width: 1000px) {
        .send-wrap {
            padding: 0 20px;
        }

        .form.main-form {
            min-width: 175px;
        }
	}

	.balance-wrap {
		max-width: 357px;
		width: 100%;
	}

	.balance-wrap + div {
		width: 100%;
		max-height: calc(100vh - 122px);
		overflow: overlay;
		background-color: #FCFCFC;
		
	
		@include max-vw(1000) {
			padding: 0 20px;
		}
	
		.send-wrap {
			border-top: 2px solid rgba(#DEDEDE, 0.2);
		}
	}

}

.send-wrap {
    .form-info {
        h3 {
            color: #5c637d;
            margin: 0;
			font-family: proxima;
			font-weight: 600;
            font-size: 20px;
            line-height: 26.4px;
        }

        & + .field-wrap {
            margin-top: 15px;
            margin-left: 2px;
        }
	}
	.main-form {
		max-width: 400px;
	}
}




.balance-scroll {
    position: relative;
    height: calc(100vh - 176px);
    overflow: overlay;
    padding: 0 20px 0 17px;
    margin-top: 17px;
}

.balance-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
    padding: 0 20px 0 17px;

    .balance-title {
        font-size: 20px;
        color: rgb(92, 99, 125);
        line-height: 1.32;
	}
	
	.main-btn {
		min-width: 110px;
		width: 110px;
		padding: 0;
	}
}

.currency-title {
    color: $gray;
	font-family: proxima;
	font-weight: 600;
    line-height: 18px;
    padding-bottom: 2px;
	font-size: 15px;
	display: flex;
	align-items: center;

	.inner-tooltip-trigger {
		margin: 0 0 0 6px;
	}
}

.currency-symbol {
	color: $main-color;
	transition: color .2s;
	font-size: 18px;
	text-align: left;
}

.currency-symbol,
.currency-amount {
	@include cut-text;
	margin-right: 8px;
}

.currency-value {
	display: flex;
	flex-direction: column;
	margin: 0 8px 0 0;

	.currency-amount {
		font-size: 14px;
		margin: 4px 0;
	}
}

.currency-amount {
	color: $text-dark;
	transition: color .2s;
	font-size: 18px;
	text-align: right;
	min-width: 35%;
}

.balance-item {
	border: 0;
	background-color: transparent;
	flex-wrap: wrap;
	font-size: 13px;
	color: rgb(92, 99, 125);
	width: 100%;
	padding: 0 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: proxima;
	font-weight: 600;

	.frozen-value,
	.frozen-term,
	.frozen-coefficient,
	.frozen-interval {
		width: 50%;
		height: 16px;
		display: block;
	}

	.frozen-coefficient {
		width: 40%;
	}

	.frozen-interval {
		width: 60%;
	}
}

.remove-token {
	width: 0px;
	padding: 0;
	border: 0;
	transition: width .2s, color .2s;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	font-size: 11px;

	&:focus {
		color: $yellow;
	}

	&:hover {
		color: $yellow;
	}
}

.currency-list {

    & + .currency-title {
        margin: 25px 0 0 0;
	}
	
    li {
        background-color: #F5F5F6;
        height: 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: hidden;
        transition: background-color .2s;
        border-radius: 6px;
        margin-bottom: 6px;
	}

	&.stable-coins {
		li {
			height: 56px;	
		}
	}

	&:not(.stable-coins) {
		li {
			&.focused,
			&:hover {
				background-color: #5267C6;
				color: #fff;

				.remove-token {
					width: 44px;
				}

				.frozen-value,
				.currency-symbol {
					color: $yellow;
				}
				
				.balance-item,
				.currency-amount {
					color: #fff;
				}
			}
		}
	}
}


