.contract-type-dropdown {
	display: flex;
	align-items: center;
	padding: 5px 17px 5px 6px;
	transition: border-color .3s;
	align-self: flex-start;
	height: 24px;
	min-width: 80px;
	max-width: 80px;

	// .dropdown.icon {
	// 	right: 5px;
	// }

	&>.text {
		font-size: 14px;
	}

	.menu {

		.item {
			margin: auto;
			padding: 5px 6px;

			&.disabled {
				&.header {
					opacity: 1;
				}
			}
		}

		&>.item:not(.disabled):hover {
			background-color: rgba(0, 0, 0, 0.05);
			color: rgba(0, 0, 0, 0.95);
			z-index: 13;
		}
	}
}