.backup-modal {
	max-width: 600px;
	flex-direction: column;
	padding: 38px 0 47px;
	
	.modal-header {
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
	}

	.modal-header-title {
		color: #3B3B3B;
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}

	.modal-body {
		width: 100%;
		max-width: 500px;
		margin: 13px auto 0;
	}

	.field {
		margin-bottom: 21px;
		& > label {
			min-height: 18px;
		}
	}

	.form-panel {
		margin: 12px 0 0;
		.main-btn {
			margin-left: auto;
			min-width: 160px;
		}
	}
}

