.confirm-editing-of-permissions-modal {
	max-width: 600px;
	flex-direction: column;
	padding: 38px 0 47px;
	
	.modal-header {
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
	}

	.modal-header-title {
		color: #3B3B3B;
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}

	.modal-body {
		width: 100%;
		max-width: 500px;
		margin: 13px auto 0;
	}

	
	.info-text {
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		color: rgba(#3B3B3B, .8);
		text-align: center;
		padding: 0 15px;
		margin-top: 4px;
	}

	.form-panel {
		margin: 27px 0 0;
		justify-content: center;
		.main-btn {
			&:not(:last-child) {
				margin-right: 20px;
			}
			min-width: 160px;
		}
	}
}
