.edit-permissions-modal {
	max-width: 600px;
	flex-direction: column;
	padding: 31px 0 47px;
	
	.modal-header {
		display: flex;
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
		min-height: 34px;
		position: relative;
	}

	.timer {
		position: absolute;
		right: calc(100% + 6px);
	}

	.modal-header-title {
		color: #3B3B3B;
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}

	.modal-body {
		max-width: 500px;
		margin: 0 auto;
	}

	.info-text {
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		color: rgba(#3B3B3B, .8);
		text-align: center;
		padding: 0 10px;
		margin-top: 6px;
	}

	.check-list {
		margin: 26px 14px 0;
		.label {
			font-family: proximanovaSemibold;
		}
	}

	.field {
		margin-top: 35px;
		& > label {
			min-height: 18px;
		}
	}

	.form-panel {
		justify-content: space-between;
		.main-btn {
			min-width: 160px;
		}
	}
}
