@mixin max-vw($width) {
  @media (max-width: $width + 'px') {
    @content;
  }
}

@mixin min-vw($width) {
  @media (min-width: $width + 'px') {
    @content;
  }
}

@mixin max-vh($height) {
  @media (max-height: $height + 'px') {
    @content;
  }
}

@mixin min-vh($height) {
  @media (min-height: $height + 'px') {
    @content;
  }
}

@mixin cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin on-focus($shadow-size) {
    box-shadow:
    0 0 0 $shadow-size rgba($inut-color, .2),
    0 0 0 $shadow-size rgba($inut-color, .2);
}